@model UPlant.Models.DB.Raccoglitori
@inject LanguageService language
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>@language.Getkey("Global_Collector")</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
           
            <div class="form-group">
                <label asp-for="nominativo" class="control-label">@language.Getkey("Global_Name")</label>
                <input asp-for="nominativo" class="form-control" />
                <span asp-validation-for="nominativo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nominativo_en" class="control-label">@language.Getkey("Global_English_Name")</label>
                <input asp-for="nominativo_en" class="form-control" />
                <span asp-validation-for="nominativo_en" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="attivo" /> @language.Getkey("Global_Enabled")
                </label>
            </div>
            <div class="form-group">
                <label asp-for="organizzazione" class="control-label">@language.Getkey("Global_Organization")</label>
                <select asp-for="organizzazione" class="form-control" asp-items="ViewBag.organizzazione"></select>
                <span asp-validation-for="organizzazione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@language.Getkey("Global_Save")" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink(@language.Getkey("Global_Go_Back"), null, null, null, new { @class = "btn btn-info go_back" })
</div>
@section Styles {
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/accessioni.min.css" rel="stylesheet" />

}



@section Scripts {
    @{
        <script src="~/js/select2.min.js"></script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


}
@section CustomScripts {
    <script type="text/javascript">
        $(function () {
            $('.go_back').click(function (e) {
                e.preventDefault();
                history.go(-1);
            });
        });
    </script>
}