@model UPlant.Models.DB.Accessioni
@inject LanguageService language
@{
    ViewBag.Title = "Accessioni";
    string url = string.Empty;
    var setting = AppSettings.Value;
    var map = setting.GoogleMap;
}




@if (ViewBag.Errore != null)
{
    <div class="row">
        <div class="alert alert-error">
            @ViewBag.Errore
        </div>
    </div>
}

<div class="rownew">
    <div class="col-lg-9">

        <div class="card card-outline card-primary">

            <div class="card-header with-border">
                <h3 class="card-title">Aggiungi</h3>
            </div>

            <div id="datsel" data-key="@language.Getkey("Global_Select")"></div>
            <div id="datnaz" data-key="@language.Getkey("Global_Country")"></div>
            <div id="datreg" data-key="@language.Getkey("Global_Region")"></div>
            <div id="datprov" data-key="@language.Getkey("Global_Province")"></div>
            <div id="datcom" data-key="@language.Getkey("Global_City")"></div>
            <div id="datgen" data-key="@language.Getkey("Global_Genus")"></div>
            <div id="datspe" data-key="@language.Getkey("Global_Species")"></div>
            <div id="dat1" data-key="@language.Getkey("Script_Accessioni_1")"></div>
            <div id="dat2" data-key="@language.Getkey("Script_Accessioni_2")"></div>
            <div id="dat3" data-key="@language.Getkey("Script_Accessioni_3")"></div>
            <div id="dat4" data-key="@language.Getkey("Script_Accessioni_4")"></div>
            <div id="datnotdef" data-key="@language.Getkey("Global_Not_Defined")"></div>

            @Html.AntiForgeryToken()
            <div class="card-body">
                
				<form asp-action="Create">
                   <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <table style="height: 30px; width: 100% " class=" table-striped table-bordered" border="1">
                            <tbody>
                                <tr style="width: 100% ; height: 12px;">
                                    <th style="width: 100% " colspan="4" rowspan="2" class="bg-light-blue-active">@language.Getkey("Global_Taxonymic_Identity")</th>
                                </tr>
                                <tr style="width: 100% ; height: 0px;">
                                    <th style="width: 100% " colspan="4"></th>
                                </tr>
                                <tr style="width: 100% ; height: 23px;">
                                    <th>@language.Getkey("Global_Family")</th>
                                    <th>@language.Getkey("Global_Genus") <a id="addlink2" href="#" style="display:none">+</a></th>
                                    <th colspan="2">Specie <a id="addlink" href="#" style="display:none">+</a></th>


                                </tr>
                                <tr style="width: 100% ;height: 12px;">
                                    <td>
									 
                                        @Html.DropDownList("famiglia", null, @language.Getkey("Global_Select") + " "+ @language.Getkey("Global_Family"), htmlAttributes: new { @Id = "famiglia", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.specieNavigation.genereNavigation.famigliaNavigation.id, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        <span id="labelgenere" style="display: none;"></span>
                                        <span id="generespan">
                                            @Html.DropDownList("genere", null, @language.Getkey("Global_Select") + " " + @language.Getkey("Global_Genus"), htmlAttributes: new { @Id = "genere", @class = "form-control", @disabled = true })
                                            @Html.ValidationMessageFor(model => model.specieNavigation.genereNavigation.id, "", new { @class = "text-danger" })
                                        </span>
                                    </td>
                                    <td colspan="2">

                                        @Html.DropDownList("specie", null, @language.Getkey("Global_Select") + " "+ @language.Getkey("Global_Species"), htmlAttributes: new { @Id = "specie", @class = "form-control", @disabled = true,
                                       @style = "width: 100%;" })
                                        @Html.ValidationMessageFor(model => model.specieNavigation.id, "", new { @class = "text-danger" })

                                    </td>


                                </tr>



                                <tr style="height: 12px;">
                                    <th style="width: 100%; height: 12px; " colspan="4" rowspan="2" class="bg-light-blue-active">@language.Getkey("Global_Details")</th>
                                </tr>
                                <tr style="height: 0px;">
                                    <th style="width: 100%; height: 0px;" colspan="4"></th>
                                </tr>
                                <tr style="height: 12px;">
                                    <th>@language.Getkey("Global_Acquisition_Date")</th>
                                    <th style=" height: 23px;">@language.Getkey("Global_Acquisition_Mode")</th>
                                    <th style=" height: 23px;">@language.Getkey("Global_Material_Type")</th>
                                    <th style="height: 23px;">@language.Getkey("Global_Material_Origin")</th>
                                </tr>
                                <tr style="height: 23px;">
                                    <td style=" height: 23px;">
                                        <input type="date" id="dataAcquisizione" name="dataAcquisizione" />
                                        @Html.ValidationMessageFor(model => model.dataAcquisizione, "", new { @class = "text-danger" })
                                    </td>
                                    <td style=" height: 23px;">
                                        @Html.DropDownList("tipoAcquisizione", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.tipoAcquisizione, "", new { @class = "text-danger" })
                                    </td>

                                    <td style=" height: 23px;">
                                        @Html.DropDownList("tipoMateriale", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.tipoMateriale, "", new { @class = "text-danger" })
                                    </td>
                                    <td style=" height: 23px;">
                                        @Html.DropDownList("provenienza", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.provenienza, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr style="height: 12px;">
                                    <th style="height: 23px;">@language.Getkey("Global_Material_Status")</th>
                                    <th style="height: 23px;">@language.Getkey("Global_Quantity")</th>
                                    <th style="height: 23px;">@language.Getkey("Global_Taxonomic_Uncertainty")</th>
                                    <th style="height: 23px;">IPEN</th>
                                </tr>
                                <tr style="height: 23px;">
                                    <td style="height: 23px;">
                                        @Html.DropDownList("statoMateriale", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.statoMateriale, "", new { @class = "text-danger" })
                                    </td>
                                    <td style="height: 23px;">
                                        @Html.EditorFor(model => model.numeroEsemplari, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.numeroEsemplari, "", new { @class = "text-danger" })
                                    </td>
                                    <td style=" height: 23px;">
                                        @Html.DropDownList("gradoIncertezza", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.gradoIncertezza, "", new { @class = "text-danger" })
                                    </td>
                                    <td style=" height: 23px;">
                                        @Html.EditorFor(model => model.ipendiprovenienza, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ipendiprovenienza, "", new { @class = "text-danger" })
                                    </td>

                                </tr>
                                <tr style="height: 12px;">
                                    <th style="width: 100% " colspan="4" rowspan="2" class="bg-light-blue-active">Provenienza</th>
                                </tr>
                                <tr style="height: 0px;">
                                    <th style="width: 100%" colspan="4"></th>
                                </tr>

                                <tr style="height: 23px;">
                                    <th style="height: 23px;">@language.Getkey("Global_Country")</th>
                                    <td style="height: 23px;">
                                        @Html.DropDownList("nazione", null, @language.Getkey("Global_Select") + " " + @language.Getkey("Global_Country"), htmlAttributes: new { @Id = "nazione", @class = "form-control", required = "Seleziona una Nazione" })
                                        @Html.ValidationMessageFor(model => model.nazione, "", new { @class = "text-danger" })
                                    </td>
                                    <td colspan="2" rowspan="9"> <div id="myMap"></div></td>
                                </tr>
                                <tr style="height: 23px;">
                                    <th style="height: 23px;">@language.Getkey("Global_Region")</th>
                                    <td style="height: 23px;">
                                        @Html.DropDownList("regione", null, @language.Getkey("Global_Select") + " " + @language.Getkey("Global_Region"), htmlAttributes: new { @Id = "regione", @class = "form-control" })
                                    </td>

                                </tr>
                                <tr style="height: 23px;">
                                    <th style="height: 23px;">@language.Getkey("Global_Province")</th>
                                    <td style="height: 23px;">
                                        @Html.DropDownList("provincia", null, @language.Getkey("Global_Select") + " " + @language.Getkey("Global_Province"), htmlAttributes: new { @Id = "provincia", @class = "form-control" })
                                    </td>


                                </tr>
                                <tr style="height: 23px;">
                                    <th style="height: 23px;">@language.Getkey("Global_Collection_Date")</th>
                                    <td style="height: 23px;">
                                        <input type="date" id="dataraccolta" name="dataraccolta" />
                                        @Html.ValidationMessageFor(model => model.dataraccolta, "", new { @class = "text-danger" })
                                    </td>

                                </tr>
                            <tr style="height: 23px;">
                                    <th style="height: 23px;">@language.Getkey("Global_Location")</th>
                                <td style="height: 23px;">
                                    @Html.EditorFor(model => model.localita, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.localita, "", new { @class = "text-danger" })
                                </td>

                                </tr>
                            <tr style="height: 23px;">
                                    <th style="height: 23px;">@language.Getkey("Global_Altitude")</th>
                                <td style="height: 23px;">
                                        @Html.EditorFor(model => model.altitudine, new { htmlAttributes = new { @class = "form-control", @Value = 0 } })
                                    @Html.ValidationMessageFor(model => model.altitudine, "", new { @class = "text-danger" })
                                </td>

                            </tr>
                            <tr style="height: 23px;">
                                    <th style="height: 23px;">@language.Getkey("Global_Habitat")</th>
                                <td style="height: 23px;">
                                    @Html.EditorFor(model => model.habitat, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.habitat, "", new { @class = "text-danger" })

                                </td>

                            </tr>
                            <tr style="height: 23px;">
                                    <th style="height: 23px;">@language.Getkey("Global_Longitude")</th>
                                <td style="height: 23px;">
                                    @Html.EditorFor(model => model.longitudine, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.longitudine, "", new { @class = "text-danger" })
                                    @*<input type="text" id="longitudine" placeholder="longitudine" />*@
                                </td>

                            </tr>
                            <tr style="height: 23px;">
                                    <th style="height: 23px;">@language.Getkey("Global_Latitude")</th>
                                <td style="height: 23px;">
                                    @Html.EditorFor(model => model.latitudine, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.latitudine, "", new { @class = "text-danger" })
                                    @*<input type="text" id="latitudine" placeholder="latitudine" />*@
                                </td>

                            </tr>
                            <tr style="height: 12px;">
                                    <th style="width: 100%; height: 12px; " colspan="4" rowspan="2" class="bg-light-blue-active">@language.Getkey("Global_Acquisition_Data")</th>
                            </tr>
                            <tr style="height: 0px;">
                                <th style="width: 100%; height: 0px;" colspan="4"></th>
                            </tr>

                            <tr style="height: 23px;">
                                    <th style="width: 139px; height: 23px;">@language.Getkey("Global_Donor_Supplier")</th>
                                    <th style="width: 239px; height: 23px;">@language.Getkey("Global_Collector")</th>
                                    <th style="width: 239px; height: 23px;">@language.Getkey("Global_Identified_By")</th>
                                    <th style="width: 239px; height: 23px;">@language.Getkey("Global_Old_Progressive")</th>

                            </tr>
                            <tr style="width: 100%; height: 23px;">
                                <td style=" height: 23px;">
                                    @Html.DropDownList("fornitore", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.fornitore, "", new { @class = "text-danger" })
                                </td>
                                <td style=" height: 23px;">
                                    @Html.DropDownList("raccoglitore", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.raccoglitore, "", new { @class = "text-danger" })
                                </td>
                                <td style=" height: 23px;">
                                    @Html.DropDownList("identificatore", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.identificatore, "", new { @class = "text-danger" })
                                </td>

                                <td style=" height: 23px;">
                                    @Html.EditorFor(model => model.vecchioprogressivo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.vecchioprogressivo, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr style="width: 100%; height: 12px;">
                                <th style="width: 100%; height: 12px; " colspan="4" rowspan="2" class="bg-light-blue-active">Dati accessori</th>
                            </tr>
                            <tr style="height: 0px;">
                                <th style="width: 100%; height: 0px;" colspan="4"></th>
                            </tr>
                            <tr style="height: 0px;">
                                    <th style="width: 250px; height: 23px;">@language.Getkey("Global_Notes")</th>
                                    <th style="width: 278px; height: 23px;" colspan="3">@language.Getkey("Global_Associated_Herbarium")</th>
                                
                            </tr>
                            <tr  style="width: 250px; height: 23px;">

                                <td>
                                    @*    @Html.EditorFor(model => model.note, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.TextAreaFor(model => model.note, new { @class = "form-control", @rows = "5", @cols = "10", @style = "width:100%;" })
                                    @Html.ValidationMessageFor(model => model.note, "", new { @class = "text-danger" })

                                </td>
                                <td style="width: 278px; height: 23px;" colspan="3">@Html.CheckBoxFor(model => model.associatoErbario)</td>
                                
                            </tr>
                            <tr style="height: 0px;">
                                <th style="width: 100%; height: 0px;" colspan="4"></th>
                            </tr>
                            <tr style="height: 0px;">
                                <th style="width: 100%; height: 0px;" colspan="4"> <input type="submit" id="inserisci" value="Inserisci Accessione" class="btn btn-success" /></th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    @*<div class="form-group">
                            <div class="col-md-offset-2">

                            </div>
                        </div>
                    *@
                </form>
                </div>


             

        </div>

    </div>

    <div class="col-lg-3">
        <div class="">

            <div>

                <table id="addSpecie" name="addSpecie" style="display: none;" align="left">
                    <tr>
                        <th class="bg-light-blue-active">@language.Getkey("Global_Add") @language.Getkey("Global_Species")</th>

                    </tr>
                    <tr>
                        <th>
                            @language.Getkey("Global_Specific_Name")
                            @Html.EditorFor(model => model.specieNavigation.nome, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.specieNavigation.nome, "", new { @class = "text-danger" })
                        </th>
                    </tr>

                    <tr>
                        <th>
                            @language.Getkey("Global_Species_Authors")
                            @Html.EditorFor(model => model.specieNavigation.autori, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.specieNavigation.autori, "", new { @class = "text-danger" })
                        </th>
                    </tr>
                    <tr>
                        <th>
                            @language.Getkey("Global_Subspecies")
                            @Html.EditorFor(model => model.specieNavigation.subspecie, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.specieNavigation.subspecie, "", new { @class = "text-danger" })
                        </th>
                    </tr>
                    <tr>
                        <th>
                            @language.Getkey("Global_Subspecies_Authors")
                            @Html.EditorFor(model => model.specieNavigation.autorisub, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.specieNavigation.autorisub, "", new { @class = "text-danger" })
                        </th>
                    </tr>
                    <tr>
                        <th>
                            @language.Getkey("Global_Variety")
                            @Html.EditorFor(model => model.specieNavigation.varieta, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.specieNavigation.varieta, "", new { @class = "text-danger" })
                        </th>
                    </tr>
                    <tr>
                        <th>
                            @language.Getkey("Global_Variety_Authors")
                            @Html.EditorFor(model => model.specieNavigation.autorivar, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.specieNavigation.autorivar, "", new { @class = "text-danger" })
                        </th>
                    </tr>
                    <tr>
                        <th>
                            @language.Getkey("Global_Cultivar")
                            @Html.EditorFor(model => model.specieNavigation.cult, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.specieNavigation.cult, "", new { @class = "text-danger" })
                        </th>
                    </tr>
                    <tr>
                        <th>
                            @language.Getkey("Global_Cultivar_Authors")
                            @Html.EditorFor(model => model.specieNavigation.autoricult, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.specieNavigation.autoricult, "", new { @class = "text-danger" })
                        </th>
                    </tr>
                    <tr>
                        <th>
                            @language.Getkey("Global_Vulgar_Name")
                            @Html.EditorFor(model => model.specieNavigation.nome_volgare, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.specieNavigation.nome_volgare, "", new { @class = "text-danger" })
                        </th>
                    </tr>
                    <tr>
                        <th>
                            @language.Getkey("Global_Common_Name")
                            @Html.EditorFor(model => model.specieNavigation.nome_comune, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.specieNavigation.nome_comune, "", new { @class = "text-danger" })
                        </th>
                    </tr>
                    <tr>
                        <th>
                            @language.Getkey("Global_English_Common_Name")
                            @Html.EditorFor(model => model.specieNavigation.nome_comune_en, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.specieNavigation.nome_comune_en, "", new { @class = "text-danger" })
                        </th>
                    </tr>
                    <tr>
                        <th>
                            @language.Getkey("Global_Floristic_Kingdom")
                            @Html.DropDownList("regno", null, htmlAttributes: new { @Id = "regno", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.specieNavigation.regnoNavigation.id, "", new { @class = "text-danger" })
                        </th>
                    </tr>
                    <tr>
                        <th>
                            @language.Getkey("Global_Range")
                            @Html.DropDownList("areale", null, htmlAttributes: new { @Id = "areale", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.specieNavigation.arealeNavigation.id, "", new { @class = "text-danger" })
                        </th>
                    </tr>
                    <tr>
                        <th>  <a id="insSpecie" href="#">@language.Getkey("Global_Add")</a></th>
                    </tr>
                </table>
            </div>
            @*tabella per i generi*@

            <div>

                <table id="addGenere" name="addGenere" style="display: none;" align="left">
                    <tr>
                        <th class="bg-light-blue-active">@language.Getkey("Global_Add") @language.Getkey("Global_Genus")</th>

                    </tr>
                    <tr>
                        <th>

                            @Html.LabelFor(model => model.specieNavigation.genereNavigation.descrizione, htmlAttributes: null)
                            @Html.EditorFor(model => model.specieNavigation.genereNavigation.descrizione, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.specieNavigation.genereNavigation.descrizione, "", new { @class = "text-danger" })


                        </th>
                    </tr>

                    <tr>
                        <th>  <a id="insGenere" name="insGenere" href="#">@language.Getkey("Global_Add")</a></th>
                    </tr>
                </table>
            </div>




        </div>

    </div>
</div>
<div>
    @Html.ActionLink("Torna all'elenco", "Index")
</div>



@section Styles {
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/accessioni.min.css" rel="stylesheet" />
    
}
@section CustomStyles {
    <style>
        #myMap {
            height: 250px;
            width: 100%;
        }

        .bg-light-blue-active {
            background-color: #357CA5;
            color: #FFFFFF
        }
    </style>
}
@section Scripts {
    
    @* <script src="https://maps.google.com/maps/api/js?key=AIzaSyBs-7Eb1R1-Napenc2NEUy9kcFBHYhLWC8"></script>*@
    <script src="@AppSettings.Value.GoogleMap.Url@AppSettings.Value.GoogleMap.Key"></script>
    <script src="~/js/select2.min.js"></script>
    <script src="~/js/jquery.validation.min.js"></script>
    <script src="~/js/scriptAccessioni.js"></script>
}
@section CustomScripts {
 

    <script type="text/javascript">
        var map;
        var marker;
        var myLatlng = new google.maps.LatLng(43.71944963861506, 10.396344067111961);
        var geocoder = new google.maps.Geocoder();
        var infowindow = new google.maps.InfoWindow();
        function initialize() {
            var mapOptions = {
                zoom: 18,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(document.getElementById("myMap"), mapOptions);

            marker = new google.maps.Marker({
                map: map,
                position: myLatlng,
                draggable: true
            });



            function placeMarker(location) {
                if (marker) {
                    marker.setPosition(location);
                } else {
                    marker = new google.maps.Marker({
                        position: location,
                        map: map,
                        title: 'move and pin exact point of your property'
                    });
                }
            }

            google.maps.event.addListener(map, 'click', function (event) {
                placeMarker(event.latLng);

               
                $('#latitudine').val(event.latLng.lat());
                $('#longitudine').val(event.latLng.lng());
                
            });



            google.maps.event.addListener(marker, 'dragend', function () {

                $('#latitudine').val(marker.getPosition().lat());
                $('#longitudine').val(marker.getPosition().lng());

            });

        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <script>

        $(document).ready(function () {
            var date = new Date();

            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();

            if (month < 10) month = "0" + month;
            if (day < 10) day = "0" + day;

            var today = year + "-" + month + "-" + day;
            $("#dataAcquisizione").attr("value", today);
        });
    </script>
    
    
   
    <script>
        var baseUrlNazioni = '@Url.Action("GetNazioni", "Common")';
        var baseUrlRegioni = '@Url.Action("GetRegioni", "Common")';
        var baseUrlProvince = '@Url.Action("GetProvince", "Common")';
        var baseUrlGenere = '@Url.Action("GetGenere", "Common")';//funzione che prende i dati dal db e sta in CommonController.cs
        var baseUrlSpecie = '@Url.Action("GetSpecie", "Common")';
        var baseUrlAddSpecie = '@Url.Action("AddSpecie", "Common")';
        var baseUrlAddGenere = '@Url.Action("AddGenere", "Common")';
    </script>
      
   
    
}