@model UPlant.Models.DB.Accessioni
@inject LanguageService language
@{
    ViewData["Title"] = "Accessioni";
    ViewBag.lang = language.GetCurrentCulture();
    string url = string.Empty;
    var setting = AppSettings.Value;
    var map = setting.GoogleMap;
    var currentCulture = language.GetCurrentCulture();
}
@if (TempData["MsgErr"] != null)
{
    <div class="alert alert-danger">@TempData["MsgErr"]</div>
}
@if (TempData["MsgSucc"] != null)
{
    <div class="alert alert-success">@TempData["MsgSucc"]</div>
}
@if (TempData["MsgAle"] != null)
{
    <div class="alert alert-warning">@TempData["MsgAle"]</div>
}
<p>
    @{
        if (User.IsInRole("Administrator") || User.IsInRole("Operator") && Convert.ToBoolean(Model.validazione) == false)

        {
            @Html.ActionLink(@language.Getkey("Global_Edit"), "Edit", new { id = Model.id }, new { @class = "btn btn-primary" }) <span> </span>
        }
        if (User.IsInRole("Administrator")  && Convert.ToBoolean(Model.validazione) == false)
        {
            @Html.ActionLink(@language.Getkey("Global_Validate") +' '+ @language.Getkey("Global_Accession"), "ValidaAccessione", new { id = Model.id }, new { @class = "btn btn-warning" }) <span> </span>
        }
        if (ViewBag.tipo == "ricerca")
        {
            <button type="button" id="ricerca" class="btn btn-info " onclick="window.location.href = '@Url.Action("RicercaAccessioni", "Home", new {  tipo  = ViewBag.tipo })';" >
                @language.Getkey("Global_Return_To_Search")
            </button>

        }
        else
        {
            <span> </span> @Html.ActionLink(@language.Getkey("Global_Go_Back"), "Index", null, null, new { @class = "btn btn-info" })
        }

    }
</p>

<div class="col-xs-12">
    <div class="card card-outline card-primary">
        <div class="card-header with-border">
            <h3 class="card-title">  <span class="text-primary">@language.Getkey("Global_Detail")  @language.Getkey("Global_Accession")</span></h3>
        </div>   <form role="form">
            <div class="card-body">
                <table style="height: 30px; width: 100% " class="table-striped table-bordered">
                    <tbody>
                        <tr style="height: 12px;">
                            <th style="width: 100% ; font: xx-large" colspan="5" rowspan="2" class="bg-lightblue">@language.Getkey("Global_Main_Data")</th>
                        </tr>
                        <tr style="height: 0px;">
                            <th style="width: 100% " colspan="5"></th>
                        </tr>   
                        <tr style="height: 23px;">
                            <th style="width: 20% ">@language.Getkey("Global_Progressive")</th>
                            <th style="width: 20% ">@language.Getkey("Global_Old_Progressive")</th>
                            <th style="width: 20%">@language.Getkey("Global_Organization")</th>
                            <th style="width: 20% ">@language.Getkey("Global_Acquisition_Date")</th>
                            <th style="width: 20% ">@language.Getkey("Global_Last_Modified_Date")</th>
                        </tr>
                        <tr style="height: 23px;">
                            <td style="width: 478px; height: 23px;">@Html.DisplayFor(model => model.progressivo)</td>
                            <td style="width: 239px; height: 23px;">@Html.DisplayFor(model => model.vecchioprogressivo)</td>
                            <td style="width: 239px; height: 23px;">@Html.DisplayFor(model => model.organizzazioneNavigation.descrizione)</td>
                            <td style="width: 239px; height: 23px;">@Convert.ToDateTime(Model.dataAcquisizione).ToString("dd/MM/yyyy")</td>
                            <td style="width: 239px; height: 23px;">@Convert.ToDateTime(Model.dataUltimaModifica).ToString("dd/MM/yyyy")</td>
                        </tr>
                        <tr style="height: 12px;">
                            <th style="width: 1195px; height: 12px; " colspan="5" rowspan="2" class="bg-lightblue">@language.Getkey("Global_Details")</th>
                        </tr>
                        <tr style="height: 0px;">
                            <th style="width: 1195px; height: 0px;" colspan="5"></th>
                        </tr>
                        <tr style="height: 23px;">
                            <th style="width: 478px; height: 23px;">@language.Getkey("Global_Scientific_Name")</th>
                            <th style="width: 239px; height: 23px;">@language.Getkey("Global_Acquisition_Mode")</th>
                            <th style="width: 239px; height: 23px;">@language.Getkey("Global_Material_Type")</th>
                            <th style="width: 239px; height: 23px;">@language.Getkey("Global_Material_Origin")</th>
                            <th style="width: 478px; height: 23px;">@language.Getkey("Global_Material_Status")</th>

                        </tr>


                        @{

                            if(currentCulture == "en-US"){
                                <tr style="height: 23px;">

                                    <td style="width: 478px; height: 23px;">@Html.DisplayFor(model => model.specieNavigation.nome_scientifico)</td>
                                    <td style="width: 239px; height: 23px;">@if (string.IsNullOrEmpty(Model.tipoAcquisizioneNavigation.descrizione_en)) { @Html.DisplayFor(model => model.tipoAcquisizioneNavigation.descrizione)} else{ @Html.DisplayFor(model => model.tipoAcquisizioneNavigation.descrizione_en)}</td>
                                    <td style="width: 239px; height: 23px;">@if (string.IsNullOrEmpty(Model.tipoMaterialeNavigation.descrizione_en)) { @Html.DisplayFor(model => model.tipoMaterialeNavigation.descrizione)} else{ @Html.DisplayFor(model => model.tipoMaterialeNavigation.descrizione_en)}</td>
                                    <td style="width: 239px; height: 23px;">@if (string.IsNullOrEmpty(Model.provenienzaNavigation.descrizione_en)) { @Html.DisplayFor(model => model.provenienzaNavigation.descrizione)} else{ @Html.DisplayFor(model => model.provenienzaNavigation.descrizione_en)}</td>
                                    <td style="width: 478px; height: 23px;">@if (string.IsNullOrEmpty(Model.statoMaterialeNavigation.descrizione_en)) { @Html.DisplayFor(model => model.statoMaterialeNavigation.descrizione)} else{ @Html.DisplayFor(model => model.statoMaterialeNavigation.descrizione_en)}</td>

                                </tr>
                            }
                            else
                            {
                                <tr style="height: 23px;">
                                    <td style="width: 478px; height: 23px;">@Html.DisplayFor(model => model.specieNavigation.nome_scientifico)</td>
                                    <td style="width: 239px; height: 23px;">@Html.DisplayFor(model => model.tipoAcquisizioneNavigation.descrizione)</td>
                                    <td style="width: 239px; height: 23px;">@Html.DisplayFor(model => model.tipoMaterialeNavigation.descrizione)</td>
                                    <td style="width: 239px; height: 23px;"> @Html.DisplayFor(model => model.provenienzaNavigation.descrizione)</td>
                                    <td style="width: 478px; height: 23px;">@Html.DisplayFor(model => model.statoMaterialeNavigation.descrizione)</td>

                                </tr>
                            }
                        }


                        <tr style="height: 23px;">
                            <th style="width: 239px; height: 23px;">@language.Getkey("Global_Quantity")</th>
                            <th style="width: 239px; height: 23px;">@language.Getkey("Global_Taxonomic_Uncertainty")</th>
                            <th style="width: 239px; height: 23px;">@language.Getkey("Global_Associated_Herbarium")</th>
                            <th style="width: 239px; height: 23px;">IPEN</th>
                            <th style="width: 239px; height: 23px;">&nbsp;</th>
                        </tr>


                        <tr style="height: 23px;">
                            <td style="width: 239px; height: 23px;">@Html.DisplayFor(model => model.numeroEsemplari)</td>

                            @if (currentCulture == "en-US")
                            {
                                <td style="width: 239px; height: 23px;">@if(string.IsNullOrEmpty(Model.gradoIncertezzaNavigation.descrizione_en)) { @Html.DisplayFor(model => model.gradoIncertezzaNavigation.descrizione)} else{ @Html.DisplayFor(model => model.gradoIncertezzaNavigation.descrizione_en)}</td>
                            } else
                            {

                                <td style="width: 239px; height: 23px;">@Html.DisplayFor(model => model.gradoIncertezzaNavigation.descrizione)</td>
                            }


                            <td style="width: 239px; height: 23px;">
                                @if (Model.associatoErbario == true)
                                {
                                    @language.Getkey("Global_Yes")
                                }
                                else
                                {
                                    @language.Getkey("Global_No")
                                }

                            </td>
                            <td style="width: 239px; height: 23px;">@Html.DisplayFor(model => model.ipen)</td>
                            <td style="width: 239px; height: 23px;">@*@Html.DisplayFor(model => model.ipendiprovenienza)*@&nbsp;</td>
                        </tr>

                        <tr style="height: 12px;">
                            <th style="width: 1195px; height: 12px; " colspan="5" rowspan="2" class="bg-lightblue">@language.Getkey("Accession_Create_Details_1")</th>
                        </tr>
                        <tr style="height: 0px;">
                            <th style="width: 1195px; height: 0px;" colspan="5"></th>
                        </tr>

                        <tr style="height: 23px;">
                            <th style="width: 239px; height: 23px;">@language.Getkey("Global_Country")</th>
                            @if (currentCulture == "en-US") {
                                <td style="width: 239px; height: 23px;" colspan="2">@if(string.IsNullOrEmpty(Model.nazioneNavigation.descrizione_en)) { @Html.DisplayFor(model => model.nazioneNavigation.descrizione)} else{ @Html.DisplayFor(model => model.nazioneNavigation.descrizione_en)}</td>
                            }else{
                                <td style="width: 239px; height: 23px;" colspan="2">@Html.DisplayFor(model => model.nazioneNavigation.descrizione)</td> 
                            }
                            <th style="width: 239px; height: 23px;">@language.Getkey("Global_Longitude")</th>
                            <td style="width: 239px; height: 23px;">
                                @Html.DisplayFor(model => model.longitudine)
                                @Html.HiddenFor(model => model.longitudine, new { @id = "longitudine", @name = "longitudine" })
                            </td>
                        </tr>
                        <tr style="height: 23px;">
                            <th style="width: 239px; height: 23px;">@language.Getkey("Global_Region")</th>
                            <td style="width: 239px; height: 23px;" colspan="2"> 
                                @{ 
                                    if (currentCulture == "en-US") {   
                                                   
                                            @(string.IsNullOrWhiteSpace(Model?.regioneNavigation?.descrizione_en)
                                                            ? Model?.regioneNavigation?.descrizione
                                                                : Model?.regioneNavigation?.descrizione_en)
                                                        
                                        
                                    }else{
                                        @Html.DisplayFor(model => model.regioneNavigation.descrizione);
                                    }
                                }
                            </td>
                            <th style="width: 239px; height: 23px;">@language.Getkey("Global_Latitude")</th>
                            <td style="width: 239px; height: 23px;">
                                @Html.DisplayFor(model => model.latitudine)
                                @Html.HiddenFor(model => model.latitudine, new { @id = "latitudine", @name = "latitudine" })
                            </td>
                        </tr>
                        <tr style="height: 23px;">

                            <th style="width: 239px; height: 23px;">@language.Getkey("Global_Province")</th>
                            @{
                                if (currentCulture == "en-US")
                                {
                                                      <td style="width: 239px; height: 23px;" colspan="2">
                                        @(string.IsNullOrWhiteSpace(Model?.provinciaNavigation?.descrizione_en)
                                                        ? Model?.provinciaNavigation?.descrizione
                                                            : Model?.provinciaNavigation?.descrizione_en)
                                                </td>
                                          
                                }
                                else
                                {
                                    <td style="width: 239px; height: 23px;" colspan="2"> @Html.DisplayFor(model => model.provinciaNavigation.descrizione)</td>
                                }
                            }
                            
                                <th style="width: 239px; height: 23px;">@language.Getkey("Global_Altitude")</th>
                                    <td style="width: 239px; height: 23px;">@Html.DisplayFor(model => model.altitudine)</td>
                                <tr style="height: 23px;">
                            <th style="width: 239px; height: 23px;">@language.Getkey("Global_Location")</th>
                                    <td style="width: 239px; height: 23px;" colspan="2"> @Html.DisplayFor(model => model.localita)</td>
                            <th style="width: 239px; height: 23px;">@language.Getkey("Global_Habitat")</th>
                                    <td style="width: 239px; height: 23px;">@Html.DisplayFor(model => model.habitat)</td>
                                </tr>
                                <tr style="height: 23px;">
                            <th style="width: 239px; height: 23px;">@language.Getkey("Global_Collection_Date")</th>
                                    <td style="width: 239px; height: 23px;" colspan="2"> @Html.DisplayFor(model => model.dataraccolta)</td>
                                    <th style="width: 239px; height: 23px;"> </th>
                                    <td style="width: 239px; height: 23px;"> </td>
                                </tr>
                                <tr><td colspan="5"><div id="myMap"></div></td></tr>
                                <tr style="height: 12px;">
                            <th style="width: 1195px; height: 12px; " colspan="5" class="bg-lightblue">@language.Getkey("Accession_Details_4")</th>
                                </tr>


                                <tr style="height: 23px;">
                            <th style="width: 239px; height: 23px;">@language.Getkey("Global_Donor_Supplier")</th>
                            <th style="width: 239px; height: 23px;">@language.Getkey("Global_Collector")</th>
                            <th style="width: 239px; height: 23px;">@language.Getkey("Global_Identified_By")</th>
                            <th style="width: 239px; height: 23px;">@language.Getkey("Global_Entry_User")</th>
                            <th style="width: 239px; height: 23px;">@language.Getkey("Global_Last_Modified_User")</th>
                                </tr>
                                <tr style="height: 23px;">
                                @if (currentCulture == "en-US") {
                                <td>
                                        @(string.IsNullOrWhiteSpace(Model?.fornitoreNavigation?.descrizione_en)
                                            ? Model?.fornitoreNavigation?.descrizione
                                            : Model?.fornitoreNavigation?.descrizione_en)
                                </td>
                                     <td>
                                        @(string.IsNullOrWhiteSpace(Model?.raccoglitoreNavigation?.nominativo_en)
                                                    ? Model?.raccoglitoreNavigation?.nominativo
                                                    : Model?.raccoglitoreNavigation?.nominativo_en)
                                    </td>
                                        <td>
                                        @(string.IsNullOrWhiteSpace(Model?.identificatoreNavigation?.nominativo_en)
                                                        ? Model?.identificatoreNavigation?.nominativo
                                                            : Model?.identificatoreNavigation?.nominativo_en)
                                        </td>
                                  
                                } else {
                                <td style="width: 239px; height: 23px;">@Html.DisplayFor(model => model.fornitoreNavigation.descrizione)</td>
                                <td style="width: 239px; height: 23px;">@Html.DisplayFor(model => model.raccoglitoreNavigation.nominativo)</td>
                                <td style="width: 239px; height: 23px;">@Html.DisplayFor(model => model.identificatoreNavigation.nominativo)</td>
                                }                               
                                    <td style="width: 239px; height: 23px;">@Html.DisplayFor(model => model.utenteAcquisizioneNavigation.NomeCognome)</td>
                                    <td style="width: 239px; height: 23px;">@Html.DisplayFor(model => model.utenteUltimaModificaNavigation.NomeCognome)</td> @*Utenti1 è l'utente di modifica*@
                                </tr>
                                <tr style="height: 12px;">
                            <th style="width: 1195px; height: 12px; " colspan="5" rowspan="2" class="bg-lightblue">@language.Getkey("Global_Additional_Data")</th>
                                </tr>
                                <tr style="height: 0px;">
                                    <th style="width: 1195px; height: 0px;" colspan="5"></th>
                                </tr>

                                <tr style="height: 23px;">
                            <th style="width: 239px; height: 23px;">@language.Getkey("Global_Notes")</th>
                                    <td style="width: 239px; height: 23px;" colspan="4"> @Html.DisplayFor(model => model.note)</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="">

                        </div>




                    </div>
                </form>
            
        </div>
    </div>

    <div id="individui">
        <div class="card card-outline card-primary col-xs-12">
        <div class="card-header with-border ml-2  col-xs-12" id="headingOne">

            <h3 class="card-title mb-0"><button class="btn btn-light active" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">@language.Getkey("Accession_Details_1")</button></h3>
                @{
                    if (User.IsInRole("Administrator") || User.IsInRole("Operator") || User.IsInRole("TreeKeeper") || User.IsInRole("Discover") || User.IsInRole("Seminum") || User.IsInRole("Utility"))
                    {
                        
                            <div class="float-right">
                        <a asp-action="Create" asp-controller="Individui" asp-route-idaccessione="@ViewBag.idaccessione" asp-route-tipo="@ViewBag.tipo">
                            <span class="btn btn btn-success" title="@language.Getkey("Global_Add") @language.Getkey("Global_Individual")">
                                @language.Getkey("Global_Add")
                                </span>
                            </a>
                            </div>
                        
                           
                        
                @*<div class="pull-right">@Html.ActionLink("Aggiungi", "../Individui/Create", new {  idaccessione = ViewBag.idaccessione }, new { @class = "btn btn-success" })</div> da togliere*@
                        } 
                }
              </div>
            @{
                if (Model.Individui.Count() > 0) {
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#individui">
                <div class="card-body">
                        <div class="table-responsive">


                            <table id="table1" class="table table-bordered table-striped dataTable ">
                                <thead>

                                    <tr>
                                        <th></th>
                                        <th>
                                           @language.Getkey("Global_Progressive")
                                        </th>
                                        <th>
                                           @language.Getkey("Global_Old_Progressive")
                                        </th>
                                        <th>
                                            @language.Getkey("Global_Sector")
                                        </th>
                                        <th>
                                            @language.Getkey("Global_Collection")
                                        </th>
                                        <th>
                                            @language.Getkey("Global_Label")
                                        </th>
                                        <th>
                                            @language.Getkey("Global_Individual_Status")
                                        </th>
                                        <th>
                                            @language.Getkey("Global_Last_Modified_Date")
                                        </th>
                                        <th>
                                            @language.Getkey("Global_User")
                                        </th>


                                        <th style="width:10%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Individui)
                                    {
                                    <tr>
                                        <td>
                                          <a asp-action="Details" asp-controller="Individui" asp-route-id="@item.id" asp-route-tipo="@ViewBag.tipo">
                                                            <span class="btn btn-primary btn-xs" title="@language.Getkey("Global_Detail") + ' ' + @language.Getkey("Global_Individual")">
                                                                <i class="fa-solid fa-search"></i>
                                                            </span>
                                          </a>
                                                  
                                               
                                            @{
                                                    if (User.IsInRole("Administrator") || User.IsInRole("Operator") || User.IsInRole("TreeKeeper") || User.IsInRole("Discover") || User.IsInRole("Seminum") || User.IsInRole("Utility"))
                                                {

                                                        <button class="btn btn-info btn-xs" title="stampa etichetta" id="etichetta" onclick="stampa('@item.id','@item.accessioneNavigation.specieNavigation.genereNavigation.descrizione' + ' ' + '@item.accessioneNavigation.specieNavigation.nome' + ' ' + '@item.accessioneNavigation.specieNavigation.subspecie'  + ' ' + '@item.accessioneNavigation.specieNavigation.varieta' + ' ' + '@item.accessioneNavigation.specieNavigation.cult','@item.accessioneNavigation.ipen','@item.progressivo.Substring(10,4)')">
                                                            <i class="fa-solid fa-print"></i>
                                                    </button>
                                                }
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.progressivo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.vecchioprogressivo)
                                        </td>




                                         @{ 
                                if (currentCulture == "en-US") {    
                                  <td> @if(string.IsNullOrEmpty(item.settoreNavigation.settore_en)) { @Html.DisplayFor(modelItem => item.settoreNavigation.settore)} else{ @Html.DisplayFor(modelItem => item.settoreNavigation.settore_en)}</td>
                            <td> @if(string.IsNullOrEmpty(item.collezioneNavigation.collezione_en)) { @Html.DisplayFor(modelItem => item.collezioneNavigation.collezione)} else{ @Html.DisplayFor(modelItem => item.collezioneNavigation.collezione_en)}</td>
                             <td> @if(string.IsNullOrEmpty(item.cartellinoNavigation.descrizione_en)) { @Html.DisplayFor(modelItem => item.cartellinoNavigation.descrizione)} else{ @Html.DisplayFor(modelItem => item.cartellinoNavigation.descrizione_en)}</td>
                                
                                }else{
                                <td>
                                            @Html.DisplayFor(modelItem => item.settoreNavigation.settore)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.collezioneNavigation.collezione)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.cartellinoNavigation.descrizione)
                                        </td>
                                }
                            }
                                        

                                        @{
                                            if (item.StoricoIndividuo.Count() == 0)
                                            {
                                                <td>
                                                        @language.Getkey("Global_Empty")
                                                </td>
                                                <td>
                                                        @language.Getkey("Global_Empty")
                                                </td>
                                                <td>
                                                        @language.Getkey("Global_Empty")
                                                    </td>
                                                }
                                                else
                                                {
                                                    if (currentCulture == "en-US") {    
                                                        <td> @if(string.IsNullOrEmpty(item.StoricoIndividuo.OrderByDescending(x => x.dataInserimento).First().statoIndividuoNavigation.descrizione_en)) { @Html.DisplayFor(modelItem => item.StoricoIndividuo.OrderByDescending(x => x.dataInserimento).First().statoIndividuoNavigation.stato)} else{ @Html.DisplayFor(modelItem => item.StoricoIndividuo.OrderByDescending(x => x.dataInserimento).First().statoIndividuoNavigation.descrizione_en)}</td>
                                                    }
                                                    else
                                                    {
                                                          <td>@Html.DisplayFor(modelItem => item.StoricoIndividuo.OrderByDescending(x => x.dataInserimento).First().statoIndividuoNavigation.stato)</td>
                                                    }
                                                  

                                                <td>
                                                        @Html.DisplayFor(modelItem => item.StoricoIndividuo.OrderByDescending(x => x.dataInserimento).First().dataInserimento)

                                                </td>
                                                <td>
                                                        @Html.DisplayFor(modelItem => item.StoricoIndividuo.OrderByDescending(x => x.dataInserimento).First().utenteNavigation.NomeCognome)
                                                </td>

                                            }

                                        }


                                        <td>
                                            @{
                                                    if (User.IsInRole("Administrator") || User.IsInRole("Operator") || User.IsInRole("TreeKeeper") || User.IsInRole("Discover") || User.IsInRole("Seminum") || User.IsInRole("Utility"))
                                                {

                                                        <a asp-action="Edit" asp-controller="Individui" asp-route-id="@item.id" asp-route-accessione="@item.accessione" asp-route-tipo="@ViewBag.tipo">
                                                            <span class="btn btn btn-warning btn-xs" title="@language.Getkey("Global_Edit") @language.Getkey("Global_Individual")">
                                                                <i class="fa-solid fa-pencil" style="color: #fafafa;"></i>
                                                                </span>
                                                            </a>
                                                     

                                                }
                                            }

                                            @{
                                                @*if (HttpContext.Current.Session["nomeCognome"].ToString() == "Pietro Picconi")*@
                                                    if (User.IsInRole("Administrator"))
                                                {
                                                        <a asp-action="Delete" asp-controller="Individui" asp-route-id="@item.id">
                                                            <span class="btn btn btn-danger btn-xs" title="@language.Getkey("Global_Delete") @language.Getkey("Global_Individual")">
                                                                <i class="fa-solid fa-trash"></i>
                                                            </span>
                                                        </a>
                                                    
                                                }
                                            }
                                        </td>
                                    </tr>
                                    }

                            </table>
                        </div>
                    </div>


                </div>
            
                }
                else
                {
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#individui">
                    <div>@language.Getkey("Global_Empty")</div>
                </div>
                }
            } 
            </div>
    </div>

<p>
    @{
        if (User.IsInRole("Administrator") || (User.IsInRole("Operator") && Convert.ToBoolean(Model.validazione) == false))
        {
            @Html.ActionLink(@language.Getkey("Global_Edit"), "Edit", new { id = Model.id }, new { @class = "btn btn-primary" }) <span> </span>
        }
        if (User.IsInRole("Administrator") && Convert.ToBoolean(Model.validazione) == false)
        {
            @Html.ActionLink(@language.Getkey("Global_Validate") + ' ' + @language.Getkey("Global_Accession"), "ValidaAccessione", new { id = Model.id }, new { @class = "btn btn-warning" }) <span> </span>
        }
        if (ViewBag.tipo == "ricerca")
        {
            <button type="button" id="ricerca" class="btn btn-info" onclick="window.location.href = '@Url.Action("RicercaAccessioni", "Home", new {  tipo  = ViewBag.tipo })';">
                @language.Getkey("Global_Return_To_Search")
            </button>
        }
        else
        {
            <span> </span> @Html.ActionLink(@language.Getkey("Global_Go_Back"), "Index", null, null, new { @class = "btn btn-info" })
        }

    }
</p>


@section Styles {
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/accessioni.min.css" rel="stylesheet" />

}
@section CustomStyles {
    <style>
        #myMap {
            height: 250px;
            width: 100%;
        }

        .bg-light-blue-active {
            background-color: #357CA5;
            color: #FFFFFF
        }
        
    </style>

}
@section Scripts {


    <script src="@AppSettings.Value.GoogleMap.Url@AppSettings.Value.GoogleMap.Key&libraries=marker"></script>  
    <script src="~/js/select2.min.js"></script>
    <script src="~/js/jquery.validation.min.js"></script>
    <script src="~/js/datatables.min.js"></script>
    <script src="~/js/dymo.connect.framework.js"></script>
}
@section CustomScripts {
    <script type="text/javascript">
        $(document).ready(function () {
        var lingua = "@ViewBag.lang";
            if (lingua == "en-US"){
              $.extend($.fn.dataTable.defaults, {
          language: { url: "/js/dataTables.english.json" }
        });
            } else {
                 $.extend($.fn.dataTable.defaults, {
          language: { url: "/js/dataTables.default.json" }
        });
            }
        });
    </script>



    <script type="text/javascript">
    let map;
        if (document.getElementById("latitudine").value != '' && document.getElementById("longitudine").value != '') {

            var myLatlng = new google.maps.LatLng(document.getElementById("latitudine").value, document.getElementById("longitudine").value);
        } else {
            var myLatlng = new google.maps.LatLng(43.71944963861506, 10.396344067111961);
        }
    async function initMap() {
     
            const position = myLatlng;
     
      
      const { Map } = await google.maps.importLibrary("maps");
      const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");

      
            map = new Map(document.getElementById("myMap"), {
                zoom: 6,
        center: position,
                mapId: "dd9d3d35a9e256c5",
      });

      
      const marker = new AdvancedMarkerElement({
                map: map,
                position: myLatlng,
                draggable: false,
        title: "Orto",
      });
    }

    initMap();
    </script>
    

    


    <script>
        jQuery(function () {
            jQuery('#table1').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false
                    
            })
        })
    </script>
    <script type="text/javascript">
            $(function () {
                $('.go_back').click(function (e) {
                    e.preventDefault();
                    history.go(-1);
                });
            });
    </script>
    <script>


            // called when the document completly loaded
        function stampa(qrcode, nome, ipen, progressivo) {
            //if (nome.length > 20) {
            //    nome = nome.substr(0, nome.indexOf(' ', 12)) + '\n' + nome.substr(nome.indexOf(' ', 12) + 1); }
            // piccole qrcode non creabile var labelXml = '<DieCutLabel Version="8.0" Units="twips"><PaperOrientation>Landscape</PaperOrientation><Id>SuspensionFile99017</Id><PaperName>99017 Suspension File</PaperName><DrawCommands><RoundRectangle X="0" Y="0" Width="720" Height="2880" Rx="270" Ry="270" /></DrawCommands><ObjectInfo><TextObject><Name>nome</Name><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /><BackColor Alpha="0" Red="255" Green="255" Blue="255" /><LinkedObjectName></LinkedObjectName><Rotation>Rotation0</Rotation><IsMirrored>False</IsMirrored><IsVariable>False</IsVariable><HorizontalAlignment>Left</HorizontalAlignment><VerticalAlignment>Middle</VerticalAlignment><TextFitMode>ShrinkToFit</TextFitMode><UseFullFontHeight>True</UseFullFontHeight><Verticalized>False</Verticalized><StyledText><Element><String></String><Attributes><Font Family="Arial" Size="12" Bold="False" Italic="False" Underline="False" Strikeout="False" /><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /></Attributes></Element></StyledText></TextObject><Bounds X="909" Y="57" Width="1780" Height="195" /></ObjectInfo><ObjectInfo><BarcodeObject><Name>qrcode</Name><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /><BackColor Alpha="0" Red="255" Green="255" Blue="255" /><LinkedObjectName></LinkedObjectName><Rotation>Rotation0</Rotation><IsMirrored>False</IsMirrored><IsVariable>False</IsVariable><Text></Text><Type>QRCode</Type><Size>Small</Size><TextPosition>None</TextPosition><TextFont Family="Arial "Size="8" Bold="False" Italic="False" Underline="False" Strikeout="False" /><CheckSumFont Family="Arial" Size="8" Bold="False" Italic="False" Underline="False" Strikeout="False" /><TextEmbedding>None</TextEmbedding><ECLevel>0</ECLevel><HorizontalAlignment>Left</HorizontalAlignment><QuietZonesPadding Left="0" Top="0" Right="0" Bottom="0" /></BarcodeObject><Bounds X="322" Y="57" Width="566.929142372689" Height="510.23622813542" /></ObjectInfo><ObjectInfo><TextObject><Name>ipen</Name><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /><BackColor Alpha="0" Red="255" Green="255" Blue="255" /><LinkedObjectName></LinkedObjectName><Rotation>Rotation0</Rotation><IsMirrored>False</IsMirrored><IsVariable>False</IsVariable><HorizontalAlignment>Left</HorizontalAlignment><VerticalAlignment>Top</VerticalAlignment><TextFitMode>ShrinkToFit</TextFitMode><UseFullFontHeight>True</UseFullFontHeight><Verticalized>False</Verticalized><StyledText><Element><String></String><Attributes><Font Family="Arial" Size="12" Bold="False" Italic="False" Underline="False" Strikeout="False" /><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /></Attributes></Element></StyledText></TextObject><Bounds X="907.086627796303" Y="312" Width="1617" Height="120" /></ObjectInfo><ObjectInfo><TextObject><Name>progressivo</Name><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /><BackColor Alpha="0" Red="255" Green="255" Blue="255" /><LinkedObjectName></LinkedObjectName><Rotation>Rotation0</Rotation><IsMirrored>False</IsMirrored><IsVariable>False</IsVariable><HorizontalAlignment>Left</HorizontalAlignment><VerticalAlignment>Top</VerticalAlignment><TextFitMode>ShrinkToFit</TextFitMode><UseFullFontHeight>True</UseFullFontHeight><Verticalized>False</Verticalized><StyledText><Element><String></String><Attributes><Font Family="Arial" Size="12" Bold="False" Italic="False" Underline="False" Strikeout="False" /><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /></Attributes></Element></StyledText></TextObject><Bounds X="907.086627796303" Y="510.23622813542" Width="1242" Height="140" /></ObjectInfo></DieCutLabel>';
           //piccole qrcode var labelXml = '<DieCutLabel Version="8.0" Units="twips"><PaperOrientation>Landscape</PaperOrientation><Id>SuspensionFile99017</Id><PaperName>99017 Suspension File</PaperName><DrawCommands><RoundRectangle X="0" Y="0" Width="720" Height="2880" Rx="270" Ry="270" /></DrawCommands><ObjectInfo><TextObject><Name>nome</Name><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /><BackColor Alpha="0" Red="255" Green="255" Blue="255" /><LinkedObjectName></LinkedObjectName><Rotation>Rotation0</Rotation><IsMirrored>False</IsMirrored><IsVariable>False</IsVariable><HorizontalAlignment>Left</HorizontalAlignment><VerticalAlignment>Middle</VerticalAlignment><TextFitMode>ShrinkToFit</TextFitMode><UseFullFontHeight>True</UseFullFontHeight><Verticalized>False</Verticalized><StyledText><Element><String></String><Attributes><Font Family="Arial" Size="12" Bold="False" Italic="False" Underline="False" Strikeout="False" /><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /></Attributes></Element></StyledText></TextObject><Bounds X="909" Y="57" Width="1780" Height="195" /></ObjectInfo><ObjectInfo><BarcodeObject><Name>qrcode</Name><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /><BackColor Alpha="0" Red="255" Green="255" Blue="255" /><LinkedObjectName></LinkedObjectName><Rotation>Rotation0</Rotation><IsMirrored>False</IsMirrored><IsVariable>False</IsVariable><Text></Text><Type>QRCode</Type><Size>Small</Size><TextPosition>None</TextPosition><TextFont Family="Arial" Size="8" Bold="False" Italic="False" Underline="False" Strikeout="False" /><CheckSumFont Family="Arial" Size="8" Bold="False" Italic="False" Underline="False" Strikeout="False" /><TextEmbedding>None</TextEmbedding><ECLevel>0</ECLevel><HorizontalAlignment>Left</HorizontalAlignment><QuietZonesPadding Left="0" Top="0" Right="0" Bottom="0" /></BarcodeObject><Bounds X="322" Y="87.5" Width="611.999999999999" Height="545" /></ObjectInfo><ObjectInfo><TextObject><Name>ipen</Name><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /><BackColor Alpha="0" Red="255" Green="255" Blue="255" /><LinkedObjectName></LinkedObjectName><Rotation>Rotation0</Rotation><IsMirrored>False</IsMirrored><IsVariable>False</IsVariable><HorizontalAlignment>Left</HorizontalAlignment><VerticalAlignment>Top</VerticalAlignment><TextFitMode>ShrinkToFit</TextFitMode><UseFullFontHeight>True</UseFullFontHeight><Verticalized>False</Verticalized><StyledText><Element><String></String><Attributes><Font Family="Arial" Size="12" Bold="False" Italic="False" Underline="False" Strikeout="False" /><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /></Attributes></Element></StyledText></TextObject><Bounds X="982" Y="312" Width="1617" Height="120" /></ObjectInfo><ObjectInfo><TextObject><Name>progressivo</Name><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /><BackColor Alpha="0" Red="255" Green="255" Blue="255" /><LinkedObjectName></LinkedObjectName><Rotation>Rotation0</Rotation><IsMirrored>False</IsMirrored><IsVariable>False</IsVariable><HorizontalAlignment>Left</HorizontalAlignment><VerticalAlignment>Top</VerticalAlignment><TextFitMode>ShrinkToFit</TextFitMode><UseFullFontHeight>True</UseFullFontHeight><Verticalized>False</Verticalized><StyledText><Element><String></String><Attributes><Font Family="Arial" Size="12" Bold="False" Italic="False" Underline="False" Strikeout="False" /><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /></Attributes></Element></StyledText></TextObject><Bounds X="952" Y="522" Width="1242" Height="140" /></ObjectInfo></DieCutLabel>';
            // buono var labelXml = '<DieCutLabel Version="8.0" Units="twips"><PaperOrientation>Landscape</PaperOrientation><Id>ReturnAddressInt</Id><PaperName>11352 Return Address Int</PaperName><DrawCommands><RoundRectangle X="0" Y="0" Width="1440" Height="3060" Rx="180" Ry="180" /></DrawCommands><ObjectInfo><TextObject><Name>nome</Name><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /><BackColor Alpha="0" Red="255" Green="255" Blue="255" /><LinkedObjectName></LinkedObjectName><Rotation>Rotation0</Rotation><IsMirrored>False</IsMirrored><IsVariable>False</IsVariable><HorizontalAlignment>Center</HorizontalAlignment><VerticalAlignment>Middle</VerticalAlignment><TextFitMode>ShrinkToFit</TextFitMode><UseFullFontHeight>True</UseFullFontHeight><Verticalized>False</Verticalized><StyledText><Element><String></String><Attributes><Font Family="Tahoma" Size="9" Bold="False" Italic="False" Underline="False" Strikeout="False" /><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /></Attributes></Element></StyledText></TextObject><Bounds X="1150" Y="188" Width="1756" Height="357" /></ObjectInfo><ObjectInfo><BarcodeObject><Name>qrcode</Name><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /><BackColor Alpha="0" Red="255" Green="255" Blue="255" /><LinkedObjectName></LinkedObjectName><Rotation>Rotation0</Rotation><IsMirrored>False</IsMirrored><IsVariable>False</IsVariable><Text></Text><Type>QRCode</Type><Size>Medium</Size><TextPosition>None</TextPosition><TextFont Family="Arial" Size="8" Bold="False" Italic="False" Underline="False" Strikeout="False" /><CheckSumFont Family="Arial" Size="8" Bold="False" Italic="False" Underline="False" Strikeout="False" /><TextEmbedding>None</TextEmbedding><ECLevel>0</ECLevel><HorizontalAlignment>Center</HorizontalAlignment><QuietZonesPadding Left="0" Top="0" Right="0" Bottom="0" /></BarcodeObject><Bounds X="100" Y="225" Width="986.000000000001" Height="960" /></ObjectInfo><ObjectInfo><TextObject><Name>ipen</Name><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /><BackColor Alpha="0" Red="255" Green="255" Blue="255" /><LinkedObjectName></LinkedObjectName><Rotation>Rotation0</Rotation><IsMirrored>False</IsMirrored><IsVariable>False</IsVariable><HorizontalAlignment>Left</HorizontalAlignment><VerticalAlignment>Top</VerticalAlignment><TextFitMode>ShrinkToFit</TextFitMode><UseFullFontHeight>True</UseFullFontHeight><Verticalized>False</Verticalized><StyledText><Element><String></String><Attributes><Font Family="Tahoma" Size="9" Bold="False" Italic="False" Underline="False" Strikeout="False" /><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /></Attributes></Element></StyledText></TextObject><Bounds X="1150" Y="630" Width="1286" Height="240" />	</ObjectInfo>	<ObjectInfo><TextObject><Name>progressivo</Name><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /><BackColor Alpha="0" Red="255" Green="255" Blue="255" /><LinkedObjectName></LinkedObjectName><Rotation>Rotation0</Rotation><IsMirrored>False</IsMirrored><IsVariable>False</IsVariable><HorizontalAlignment>Left</HorizontalAlignment><VerticalAlignment>Top</VerticalAlignment><TextFitMode>ShrinkToFit</TextFitMode><UseFullFontHeight>True</UseFullFontHeight><Verticalized>False</Verticalized><StyledText><Element><String></String><Attributes><Font Family="Tahoma" Size="9" Bold="False" Italic="False" Underline="False" Strikeout="False" /><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /></Attributes></Element></StyledText></TextObject><Bounds X="1135" Y="908" Width="1781" Height="210" /></ObjectInfo></DieCutLabel>';
               //      var labelXml = '<DieCutLabel Version="8.0" Units="twips"><PaperOrientation>Landscape</PaperOrientation><Id>ReturnAddressInt</Id><PaperName>11352 Return Address Int</PaperName><DrawCommands><RoundRectangle X="0" Y="0" Width="1440" Height="3060" Rx="180" Ry="180" /></DrawCommands><ObjectInfo><TextObject><Name>nome</Name><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /><BackColor Alpha="0" Red="255" Green="255" Blue="255" /><LinkedObjectName></LinkedObjectName><Rotation>Rotation0</Rotation><IsMirrored>False</IsMirrored><IsVariable>False</IsVariable><HorizontalAlignment>Center</HorizontalAlignment><VerticalAlignment>Top</VerticalAlignment><TextFitMode>AlwaysFit</TextFitMode><UseFullFontHeight>True</UseFullFontHeight><Verticalized>False</Verticalized><StyledText><Element><String></String><Attributes><Font Family="Tahoma" Size="9" Bold="False" Italic="False" Underline="False" Strikeout="False" /><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /></Attributes></Element></StyledText></TextObject><Bounds X="1150" Y="188" Width="1756" Height="566.929142372689" /></ObjectInfo><ObjectInfo><BarcodeObject><Name>qrcode</Name><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /><BackColor Alpha="0" Red="255" Green="255" Blue="255" /><LinkedObjectName></LinkedObjectName><Rotation>Rotation0</Rotation><IsMirrored>False</IsMirrored><IsVariable>False</IsVariable><Text></Text><Type>QRCode</Type><Size>Medium</Size><TextPosition>None</TextPosition><TextFont Family="Arial" Size="8" Bold="False" Italic="False" Underline="False" Strikeout="False" /><CheckSumFont Family="Arial" Size="8" Bold="False" Italic="False" Underline="False" Strikeout="False" /><TextEmbedding>None</TextEmbedding><ECLevel>0</ECLevel><HorizontalAlignment>Center</HorizontalAlignment><QuietZonesPadding Left="0" Top="0" Right="0" Bottom="0" /></BarcodeObject><Bounds X="130" Y="225" Width="986" Height="960" /></ObjectInfo><ObjectInfo><TextObject><Name>ipen</Name><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /><BackColor Alpha="0" Red="255" Green="255" Blue="255" /><LinkedObjectName></LinkedObjectName><Rotation>Rotation0</Rotation><IsMirrored>False</IsMirrored><IsVariable>False</IsVariable><HorizontalAlignment>Left</HorizontalAlignment><VerticalAlignment>Top</VerticalAlignment><TextFitMode>AlwaysFit</TextFitMode><UseFullFontHeight>True</UseFullFontHeight><Verticalized>False</Verticalized><StyledText><Element><String></String><Attributes><Font Family="Tahoma" Size="9" Bold="False" Italic="False" Underline="False" Strikeout="False" /><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /></Attributes></Element></StyledText></TextObject><Bounds X="1150" Y="737.007885084496" Width="1286" Height="240" /></ObjectInfo><ObjectInfo><TextObject><Name>progressivo</Name><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /><BackColor Alpha="0" Red="255" Green="255" Blue="255" /><LinkedObjectName></LinkedObjectName><Rotation>Rotation0</Rotation><IsMirrored>False</IsMirrored><IsVariable>False</IsVariable><HorizontalAlignment>Left</HorizontalAlignment><VerticalAlignment>Top</VerticalAlignment><TextFitMode>AlwaysFit</TextFitMode><UseFullFontHeight>True</UseFullFontHeight><Verticalized>False</Verticalized><StyledText><Element><String></String><Attributes><Font Family="Tahoma" Size="8" Bold="False" Italic="False" Underline="False" Strikeout="False" /><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /></Attributes></Element></StyledText></TextObject><Bounds X="1135" Y="963.779542033572" Width="1781" Height="170.078742711807" /></ObjectInfo></DieCutLabel>';
                // prints the label

            if (nome.length > 15) {
                nome = nome.substr(0, nome.indexOf(' ')) + '\n' + nome.substr(nome.indexOf(' ') + 1);
            }
            var labelXml = '<DieCutLabel Version="8.0" Units="twips"><PaperOrientation>Landscape</PaperOrientation><Id>ReturnAddressInt</Id><PaperName>11352 Return Address Int</PaperName><DrawCommands><RoundRectangle X="0" Y="0" Width="1440" Height="3060" Rx="180" Ry="180" /></DrawCommands><ObjectInfo><TextObject><Name>nome</Name><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /><BackColor Alpha="0" Red="255" Green="255" Blue="255" /><LinkedObjectName></LinkedObjectName><Rotation>Rotation0</Rotation><IsMirrored>False</IsMirrored><IsVariable>False</IsVariable><HorizontalAlignment>Left</HorizontalAlignment><VerticalAlignment>Top</VerticalAlignment><TextFitMode>AlwaysFit</TextFitMode><UseFullFontHeight>True</UseFullFontHeight><Verticalized>False</Verticalized><StyledText><Element><String>' + nome + '</String><Attributes><Font Family="Tahoma" Size="9" Bold="False" Italic="False" Underline="False" Strikeout="False" /><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /></Attributes></Element></StyledText></TextObject><Bounds X="1150" Y="188" Width="1756" Height="566.929142372689" /></ObjectInfo><ObjectInfo><BarcodeObject><Name>qrcode</Name><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /><BackColor Alpha="0" Red="255" Green="255" Blue="255" /><LinkedObjectName></LinkedObjectName><Rotation>Rotation0</Rotation><IsMirrored>False</IsMirrored><IsVariable>False</IsVariable><Text></Text><Type>QRCode</Type><Size>Medium</Size><TextPosition>None</TextPosition><TextFont Family="Arial" Size="8" Bold="False" Italic="False" Underline="False" Strikeout="False" /><CheckSumFont Family="Arial" Size="8" Bold="False" Italic="False" Underline="False" Strikeout="False" /><TextEmbedding>None</TextEmbedding><ECLevel>0</ECLevel><HorizontalAlignment>Center</HorizontalAlignment><QuietZonesPadding Left="0" Top="0" Right="0" Bottom="0" /></BarcodeObject><Bounds X="130" Y="225" Width="986" Height="960" /></ObjectInfo><ObjectInfo><TextObject><Name>ipen</Name><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /><BackColor Alpha="0" Red="255" Green="255" Blue="255" /><LinkedObjectName></LinkedObjectName><Rotation>Rotation0</Rotation><IsMirrored>False</IsMirrored><IsVariable>False</IsVariable><HorizontalAlignment>Left</HorizontalAlignment><VerticalAlignment>Top</VerticalAlignment><TextFitMode>AlwaysFit</TextFitMode><UseFullFontHeight>True</UseFullFontHeight><Verticalized>False</Verticalized><StyledText><Element><String>' + ipen + '</String><Attributes><Font Family="Tahoma" Size="9" Bold="False" Italic="False" Underline="False" Strikeout="False" /><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /></Attributes></Element></StyledText></TextObject><Bounds X="1150" Y="737.007885084496" Width="1286" Height="240" /></ObjectInfo><ObjectInfo><TextObject><Name>progressivo</Name><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /><BackColor Alpha="0" Red="255" Green="255" Blue="255" /><LinkedObjectName></LinkedObjectName><Rotation>Rotation0</Rotation><IsMirrored>False</IsMirrored><IsVariable>False</IsVariable><HorizontalAlignment>Left</HorizontalAlignment><VerticalAlignment>Top</VerticalAlignment><TextFitMode>AlwaysFit</TextFitMode><UseFullFontHeight>True</UseFullFontHeight><Verticalized>False</Verticalized><StyledText><Element><String>' + progressivo + '</String><Attributes><Font Family="Tahoma" Size="8" Bold="False" Italic="False" Underline="False" Strikeout="False" /><ForeColor Alpha="255" Red="0" Green="0" Blue="0" /></Attributes></Element></StyledText></TextObject><Bounds X="1150" Y="963.779542033572" Width="1781" Height="170.078742711807" /></ObjectInfo></DieCutLabel>';

            try {
                        // open label

                        var label = dymo.label.framework.openLabelXml(labelXml);
                var baseUrl = "@Context.Request.Host";///messo per dare un path relativo a seconda del host

                var link = 'URL:https://' + baseUrl + '/Individui/Details/' + qrcode;// sostituire url fissa con la variabile del host
                label.setObjectText("qrcode", link);
                        //if (nome.length > 20) { nome = nome.substr(0, nome.indexOf(' ',12)) + '\n' + nome.substr(nome.indexOf(' ',12) + 1); }
                        //label.setObjectText("nome", nome);
                        //label.setObjectText("ipen", ipen);
                        //label.setObjectText("progressivo", progressivo);

                        // select printer to print on
                        // for simplicity sake just use the first LabelWriter printer
                        var printers = dymo.label.framework.getPrinters();
                        if (printers.length == 0)
                            throw "No DYMO printers are installed. Install DYMO printers.";

                        var printerName = "";
                        for (var i = 0; i < printers.length; ++i) {
                            var printer = printers[i];
                            if (printer.printerType == "LabelWriterPrinter") {
                                printerName = printer.name;
                                break;
                            }
                        }

                        if (printerName == "")
                            throw "No LabelWriter printers found. Install LabelWriter printer";

                        // finally print the label
                      //  label.print(printerName);

                        var myParams = dymo.label.framework.createLabelWriterPrintParamsXml({ NumCopies: 1 });

                        label.print(printerName, myParams);
                    }
                    catch (e) {
                        alert(e.message || e);
                    }

            };

            function initTests() {
                if (dymo.label.framework.init) {
                    //dymo.label.framework.trace = true;
                    dymo.label.framework.init(onload);
                } else {
                    onload();
                }
            }

            // register onload event
            if (window.addEventListener)
                window.addEventListener("load", initTests, false);
            else if (window.attachEvent)
                window.attachEvent("onload", initTests);
            else
                window.onload = initTests;









    </script>

}



