@model UplantDiscover.Models.DB.Percorsi
    <!--Pietro Picconi pietro.picconi@unipi.it-->
@{
    var i = Model;
    ViewData["Title"] = "Percorso";

}
@inject LanguageService language
<p></p>
    <h5 class="mb-4 lh-1 fw-bold text-success"><a href="@Url.Action("Index", "Home")" class="link-success text-decoration-none">Home</a>/<a href="@Url.Action("Index", "Percorsi")" class="link-success text-decoration-none">@language.Getkey("percorsi")</a> / @if (language.Getkey("bandiera") == "it"){ @Model.titolo } else { @Model.titolo_en } </h5>
    <div class="container bloccoricerca">

        <div id="bloccopercorso" name="bloccopercorso"></div>
        <div class="row my-5">
            <div id="listaindividui" class="col-lg-9"></div>
            <div class="col-lg-3">
                <div id="map" name="map" style="width: 100%;height: 500px;position: relative;overflow: hidden;"></div>
            </div>
        </div>
    </div>
    @section scripts {
    <script src="@ViewBag.GoogleMapUrl@ViewBag.GoogleMapKey@ViewBag.GoogleMapOptions"></script>
   
    <script type="text/javascript">
           function initialize() {
                var geocoder = new google.maps.Geocoder();
                var infowindow = new google.maps.InfoWindow();
                var myLatlng = new google.maps.LatLng(43.71944963861506, 10.396344067111961);
                var mapOptions = {
                    zoom: 13,
                    center: myLatlng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById("map"), mapOptions);



                return map;

            }


        </script>
        
        <script type="text/javascript">
        $(document).ready(function () {
           var nomescientifico = '@language.Getkey("nomescientifico")';
           var nomecomune = '@language.Getkey("nomecomune")';
           var basepath = '@Url.Action("Index","Home")';
            if (basepath.slice(-1) != "/") {
                basepath = basepath + '/';
            }
           // var token = '@ViewBag.token';
            var bandiera = '@language.Getkey("bandiera")';
           // const apiurl = '@ViewBag.ApiUrl' + 'percorso';
            const apiurl = '/api/orto/percorso';
            var det = '@language.Getkey("dettaglio")';
            $.ajax({
                url: apiurl,
             //   headers: { 'Authorization': token },
                data: { id: '@i.id' ,lingua: bandiera },

                success: function (data)
                {
                    var map = initialize();
                    var bounds = new google.maps.LatLngBounds();
                    var a = '';
                    var s = '';
                    var desc = data[0].descrizione.split('[p]').join('<p></p>');
                    desc = desc.split('[br]').join('<br>');
                    desc = '<p style="text-align: justify;">' + desc + '</p>';
                    a += '<div style="background-image: url(' + data[0].pathimmagine + ');min-height: 400px;background-size: cover;padding: 1rem;margin-top: 1.5rem;position: relative;"><h1 style="font-weight: bold;color: #fff;margin: 0;position: absolute;bottom: 0;left: 0;right: 0;padding: 1rem;background: rgba(0,0,0,.4);">' + data[0].titolo + '</h1></div>';
                    a += '<p></p>';
                    a += '<div class="box-container border border-success p-3">' + desc + '</div>';




                    var numerorisultato = 0;
                    s += '<table id="ristabella" class="table table-bordered table-striped dataTable">'

                        + '<tbody>'

                    var elencoindividui = data[0].listaIndividui;
                    for (var i = 0; i < elencoindividui.length; i++) {
                        var iconBase = '@ViewBag.GoogleMapIcons';
                        var icons;

                        switch (elencoindividui[i].ordinamento) {
                            case "1":
                                icons = iconBase + 'grey-pushpin.png';
                                break;
                            case "2":
                                icons = iconBase + 'ylw-pushpin.png';
                                break;
                            case "3":
                                icons = iconBase + 'purple-pushpin.png';
                                break;
                            case "4":
                                icons = iconBase + 'blue-pushpin.png';
                                break;
                            case "5":
                                icons = iconBase + 'red-pushpin.png';
                                break;
                            case "6":
                                icons = iconBase + 'ltblu-pushpin.png';
                                break;
                            case "7":
                                icons = iconBase + 'grn-pushpin.png';
                                break;
                            case "8":
                                icons = iconBase + 'orange-pushpin.png';
                                break;
                            case "9":
                                icons = iconBase + 'pink-pushpin.png';
                                break;
                             case "10":
                                icons = iconBase + 'lily-pushpin.png';
                                break;
                            default:
                            icons = iconBase + 'grey-pushpin.png'
                        }
                        if (elencoindividui[i].latitudine == "" || elencoindividui[i].longitudine == "") {
                            var latitudine = "43.71944963861506";
                            var longitudine = "10.396344067111961";
                            var icona = iconBase + 'question.png';
                        } else {
                            var latitudine = elencoindividui[i].latitudine;
                            var longitudine = elencoindividui[i].longitudine;
                            var icona = icons;
                        }
                        var marker = new google.maps.Marker({
                            position: new google.maps.LatLng(latitudine, longitudine),
                            title: elencoindividui[i].indentitatassonomica,
                            icon: icona
                        });


                        marker.setMap(map);


                        bounds.extend(marker.getPosition());
                        google.maps.event.addListener(marker, 'click', (function (marker, i) {
                            return function () {
                                window.location.href = "@Url.Action("Details", "Home")?id=" + elencoindividui[i].id + '&percorso=yes&nome='+data[0].titolo;
                            }
                        })(marker, i));

                        s += '<tr><td id ="immagine' + i + '" data-label="Immagine" >'
                            + '<input type="hidden" id="longitudine' + i + '" name="longitudine' + i + '" value="' + elencoindividui[i].longitudine + '">'
                            + '<input type="hidden" id="latitudine' + i + '" name="latitudine' + i + '" value="' + elencoindividui[i].latitudine + '">'
                        if (elencoindividui[i].immagine.length > 3) {

                            s += '<img src="' + elencoindividui[i].immagine + '"  class="img-fluid preview-specie md-2" alt="" loading ="lazy">';
                         } else {

                            s += '<img src="@Context.Request.PathBase/bst-master/images/noimageb.jpg"  class="img-fluid preview-specie md-2" alt="" loading ="lazy">';
                         }
                    var nm="";
                  
                    if (bandiera == "it"){
                       
                        nm = elencoindividui[i].nomecomune;
                    } else {
                        nm = elencoindividui[i].nomecomune_en;
                    }
                        s += '</td>'
                            + '<td data-label="dati" id="dati"><b>IPEN</b>: ' + elencoindividui[i].ipen + ' <br><b>' + nomescientifico + '</b>: ' + elencoindividui[i].indentitatassonomica + ' <br><b>' + nomecomune + '</b>: ' + nm + '<br><b>@language.Getkey("settore")</b>: ' + elencoindividui[i].settore + '<br><b>@language.Getkey("collezione")</b>:  ' + elencoindividui[i].collezione + '<br> ';
                        if (parseInt(elencoindividui[i].propagatodata.substring(6,10)) < 1950) {
                            s += '<b>@language.Getkey("propagatodata")</b>: ' + elencoindividui[i].propagatodata.substring(6, 10)+ '<br>';
                        }
                        s += ' <a href ="@Url.Action("Details", "Home")?id=' + elencoindividui[i].id + '&percorso=yes&nome=' + data[0].titolo + '" class="link-success text-decoration-none fw-bold">' + det +' <i class="bi bi-zoom-in"></i></a> </td></tr>';


                    numerorisultato = data.length;




                    }
                    s += '</tbody></table>';
                    marker.setMap(map);
                    bounds.extend(marker.getPosition());
                    map.setCenter(bounds.getCenter());

                    //map.setCenter(bounds.getCenter());
                    if (numerorisultato != 1) {
                        map.fitBounds(bounds);
                    }
                    map.setZoom(17);
                    var noPoi = [
                        {
                            featureType: "poi.business",
                            stylers: [
                                { visibility: "off" }
                            ]
                        }
                    ];
                    map.setOptions({ styles: noPoi });
                    $("#bloccopercorso").html(a);
                    $("#listaindividui").html(s);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Error during process: \n' + xhr.responseText);
                }

            });




        });

        </script>

    }
