@model UPlant.Models.DB.StoricoIndividuo
@inject LanguageService language
@{
    ViewData["Title"] = "Create";
}


@if (TempData["message"] != null)
{
    <p>@TempData["message"];</p>
}

<div class="col-lg-12">
    <p>
   
      
        
            @Html.ActionLink("Torna all'individuo", "Details", "Individui", new { id = ViewBag.individuo, tipo = ViewBag.tipo }, new { @class = "btn btn-info " })

        


   
    </p>
    <div class="card card-primary">
        
        <div class="card-header with-border">
            <h3 class="card-title">Storico Individuo - @language.Getkey("Global_Add")</h3>
        </div>
        
            <div class="card-body">

                <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    @Html.Hidden("individuo", null, new { @idindividuo = "idindividuo" })
                    @Html.Hidden("tipo", null, new { @tipo = "tipo" })
                </div>
            <div class="form-group">
                <label asp-for="statoIndividuo" class="control-label"></label>
                <select asp-for="statoIndividuo" class ="form-control" asp-items="ViewBag.statoIndividuo"></select>
            </div>
            <div class="form-group">
                <label asp-for="condizione" class="control-label"></label>
                <select asp-for="condizione" class ="form-control" asp-items="ViewBag.condizione"></select>
            </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.operazioniColturali, "Operazioni Colturali", htmlAttributes: null)
                    @Html.ValidationMessageFor(model => model.operazioniColturali, "", new { @class = "text-danger" })
                    <br />
                    @Html.TextAreaFor(model => model.operazioniColturali, htmlAttributes: new { @class = "form-control", @rows = 5, @cols = 30 })
                </div>

                <div class="form-group">
                   
                    <div class="col-sm-offset-2">
                        <input type="submit" value="@language.Getkey("Global_Add") Stato" class="btn btn-success" />
                    </div>
                </div>

            </form>
            </div>

       

    </div>
    <p>
        @Html.ActionLink("Torna all'individuo", "Details", "Individui", new { id = ViewBag.individuo, tipo = ViewBag.tipo }, new { @class = "btn btn-info " })
    </p>
</div>


@section Styles {
    <link href="~/css/select2.min.css" rel="stylesheet" />


}
@section Scripts {


    <script src="~/js/select2.min.js"></script>
    <script src="~/js/jquery.validation.min.js"></script>

}

@section CustomScripts {


    <script>
        jQuery(function () {
            jQuery(".datepicker").datepicker({
                language: "it",
                autoclose: true
            });
        });
    </script>

}

