@model UPlant.Models.DB.StoricoIndividuo
@inject LanguageService language
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StoricoIndividuo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.operazioniColturali)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.operazioniColturali)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataInserimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataInserimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.condizioneNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.condizioneNavigation.condizione)
        </dd>
        <dt class = "col-sm-2">
            @language.Getkey("Global_Progressive")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.individuoNavigation.progressivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.statoIndividuoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.statoIndividuoNavigation.stato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.utenteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.utenteNavigation.CreatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
