@model UPlant.Models.DB.InterventiAlberi

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Alberi</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.dataapertura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.dataapertura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.motivo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.motivo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.esitointervento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.esitointervento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.statoIntervento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.statoIntervento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.dataultimamodifica)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.dataultimamodifica)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fornitoreNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fornitoreNavigation.descrizione)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.individuoNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.individuoNavigation.progressivo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.interventoNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.interventoNavigation.descrizione)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.prioritaNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.prioritaNavigation.descrizione)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.utenteaperturaNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.utenteaperturaNavigation.CF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.utenteultimamodificaNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.utenteultimamodificaNavigation.CF)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
