@model UPlant.Models.DB.InterventiAlberi
@inject LanguageService language
@{
    ViewBag.Title = language.Getkey("Global_Details");
}

<p>
     @if (string.Equals(ViewBag.source as string, "ricerca", System.StringComparison.OrdinalIgnoreCase))
    {
        <a asp-action="RicercaTabella" asp-controller="InterventiAlberi">
            <span class="btn btn btn-info " title="@language.Getkey("Global_Go_Back")">
                @language.Getkey("Global_Go_Back")
            </span>
        </a>
    }
    else
    {
        <a asp-action="ElencoInterventi" asp-controller="InterventiAlberi" asp-route-id="@Model.individuo">
        <span class="btn btn btn-info " title="@language.Getkey("Global_Go_Back")">
            @language.Getkey("Global_Go_Back")
        </span>
    </a>
    }
</p>

<div class="col-lg-12">
    <div class="card card-outline card-primary">
        <div class="card-header with-border">
            <h3 class="card-title font-weight-bold">
                @(ViewData["nomescientifico"] ?? "") - @(ViewData["progressivo"] ?? "")
            </h3>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="form-group col">
                    <label class="control-label">@language.Getkey("Global_Tree_Priority")</label>
                    <input class="form-control" value="@Model.prioritaNavigation?.descrizione" readonly />
                </div>
                <div class="form-group col">
                    <label class="control-label">@language.Getkey("Global_Intervention_Status")</label>
                    <input class="form-control" value="@(Model.statoIntervento ? language.Getkey("Global_Close") : language.Getkey("Global_Open"))" readonly />
                </div>
            </div>

            <div class="row">
                <div class="form-group col">
                    <label class="control-label">@language.Getkey("Global_Intervention")</label>
                    <input class="form-control" value="@Model.interventoNavigation?.descrizione" readonly />
                </div>
                <div class="form-group col">
                    <label class="control-label">@language.Getkey("Global_Service_Provider")</label>
                    <input class="form-control" value="@Model.fornitoreNavigation?.descrizione" readonly />
                </div>
            </div>

            <hr />
            <div class="row text-center font-weight-bold">@language.Getkey("Global_Details")</div>
            <hr />

            <div class="row">
                <div class="form-group col">
                    <label class="control-label">@language.Getkey("Global_Reason")</label>
                    <input class="form-control" value="@Model.motivo" readonly />
                </div>
            </div>

            <div class="row">
                <div class="form-group col">
                    <label class="control-label">@language.Getkey("Global_Outcome")</label>
                    <input class="form-control" value="@Model.esitointervento" readonly />
                </div>
            </div>

            <div class="row">
                <div class="form-group col">
                    <label class="control-label">@language.Getkey("Global_Individual_Status")</label>
                    <input class="form-control" value="@Model.statoIndividuoNavigation?.stato" readonly />
                </div>

                <div class="form-group col">
                    <label class="control-label">@language.Getkey("Global_Condition")</label>
                    <input class="form-control" value="@Model.condizioneNavigation?.condizione" readonly />
                </div>
            </div>
        </div>
    </div>
</div>
