@{
    ViewData["Title"] = "Home Page";
}
@inject LanguageService language
<div class="row">

    @if (User.IsInRole("Administrator") || User.IsInRole("Operator") || User.IsInRole("TreeKeeper") || User.IsInRole("Discover") || User.IsInRole("Seminum") || User.IsInRole("Utility"))
    {
    <div class="col-md-3">
            <h2>@language.Getkey("Home_Index_1")</h2>
        <br />
        <button type="button" class="btn btn-lg btn-block" style="background-color :#3C8DBC;color :aliceblue" onclick="window.location.href = '@Url.Action("Create","Accessioni")';">
                <span class="fa-brands fa-pagelines" aria-hidden="true"></span> @language.Getkey("Home_Index_2")
        </button>
    </div>

    <div class="col-md-3">
            <h2>@language.Getkey("Home_Index_16")</h2>
        <br />
            <button type="button" class="btn btn-default btn-lg btn-block" onclick="window.location.href = '@Url.Action("EstraiAccessioniTotale","Home")';">
                <span class="fa-solid fa-file-zipper" aria-hidden="true"></span> @language.Getkey("Home_Index_3")
        </button>
    </div>

    }
    else if (User.IsInRole("Reader"))
    {
        <div class="col-md-3">
            <h2>@language.Getkey("Home_Index_1")</h2>


        </div>

        <div class="col-md-3">

            <br />

        </div>
    }else
    {
        <div >
            <h2>@language.Getkey("Home_Index_4")</h2>


        </div>
    }
</div>
<div class="row">
    <div>&nbsp;</div>
</div>
<div class="row">
   
    @if (User.IsInRole("Administrator") || User.IsInRole("Operator") || User.IsInRole("TreeKeeper") || User.IsInRole("Discover") || User.IsInRole("Seminum") || User.IsInRole("Utility"))
    {
        <div class="col-md-3">
            <button type="button" class="btn btn-lg btn-block" style="background-color :#F39C12;color :aliceblue" onclick="window.location.href = '@Url.Action("RicercaAccessioni","Home")';">
                <span class="fa-solid fa-search" aria-hidden="true"></span> @language.Getkey("Home_Index_5")
            </button>
        </div>
    <div class="col-md-3">
            <button type="button" class="btn btn-default btn-lg btn-block" onclick="window.location.href = '@Url.Action("EstraiIndividuiTotale", "Home")';">
                <span class="fa-solid fa-file-zipper" aria-hidden="true"></span> @language.Getkey("Home_Index_6")
        </button>
    </div>
    }
    else if (User.IsInRole("Reader"))
    {
        <div class="col-md-3">
            <button type="button" class="btn btn-warning btn-lg btn-block" onclick="window.location.href = '@Url.Action("RicercaAccessioni","Home")';">
                <span class="fa-solid fa-search" aria-hidden="true"></span> @language.Getkey("Home_Index_5")
            </button>
        </div>
    }
</div>
<div class="row">
    <div>&nbsp;</div>
</div>
<div class="row">
    
    @if (User.IsInRole("Administrator") || User.IsInRole("Operator") || User.IsInRole("TreeKeeper") || User.IsInRole("Discover") || User.IsInRole("Seminum") || User.IsInRole("Utility"))
    {
        <div class="col-md-3">
            <button type="button" class="btn btn-lg btn-block" style="background-color :#DD4B39;color :aliceblue" onclick="window.location.href = '@Url.Action("RicercaIndividui","Home")';">
                <span class="fa-solid fa-search" aria-hidden="true"></span> @language.Getkey("Home_Index_7")
            </button>
        </div>
    <div class="col-md-3">
            <button type="button" class="btn btn-default btn-lg btn-block" onclick="window.location.href = '@Url.Action("EstraiSpecieTotale", "Home")';">
                <span class="fa-solid fa-file-zipper" aria-hidden="true"></span> @language.Getkey("Home_Index_8")
        </button>
    </div>
    } 
    else if (User.IsInRole("Reader"))
    {
        <div class="col-md-3">
            <button type="button" class="btn btn-danger btn-lg btn-block" onclick="window.location.href = '@Url.Action("RicercaIndividui","Home")';">
                <span class="fa-solid fa-search" aria-hidden="true"></span> @language.Getkey("Home_Index_7")
            </button>
        </div>
    }
</div>
<div class="row">&nbsp;</div>
@if (User.IsInRole("Administrator") || User.IsInRole("Operator") || User.IsInRole("TreeKeeper") || User.IsInRole("Discover") || User.IsInRole("Seminum") || User.IsInRole("Utility") || User.IsInRole("Reader"))
    {
<div class="row">
  
    <div class="col-md-6">
        <table class="table table-bordered table-striped dataTable">
                <caption class="text-center cell-border" style="caption-side: top;background-color :#008D4C;color :aliceblue">@language.Getkey("Home_Index_9")</caption>
            <tr>
                <td>
                   @language.Getkey("Home_Index_10")
                </td>
                <td class="text-bold">
                    <font color="green">@ViewBag.cens</font>
                </td>
            </tr>
            <tr>
                <td>
                        @language.Getkey("Home_Index_11")
                </td>
                <td class="text-bold">
                    <font color="blue"> @ViewBag.fam</font>
                </td>
            </tr>
            <tr>
                <td>
                        @language.Getkey("Home_Index_12")
                </td>
                <td class="text-bold">
                    <font color="violet">  @ViewBag.gen</font>
                </td>
            </tr>
            <tr>
                <td>
                        @language.Getkey("Home_Index_13")
                </td>
                <td class="text-bold">
                    <font color="red"> @ViewBag.spe</font>
                </td>
            </tr>
            <tr>
                <td>
                        @language.Getkey("Home_Index_14")
                </td>
                <td class="text-bold">
                    <font color="brown">  @ViewBag.nur</font>
                </td>
            </tr>
            <tr>
                <td>
                        @language.Getkey("Home_Index_15")
                </td>
                <td class="text-bold">
                    <font color="black">@ViewBag.ban</font>
                </td>
            </tr>
        </table>
    </div>
</div>

    @*<div id="chartContainer" style="height: 370px; max-width: 920px; display:float-left, margin: 0px auto;"></div>*@
}

@section Styles {

}
@section CustomStyles {

}
@section Scripts {
    

    <script src="~/js/canvasjs.min.js"></script>


}
@section CustomScripts {
    <script type="text/javascript">
        window.onload = function () {
            
            var cons =  @ViewBag.cens;
             var chart = new CanvasJS.Chart("chartContainer", {
            theme: "light1", // "light2", "dark1", "dark2"
            animationEnabled: false, // change to true
            title:{
                text: "title"
            },
            data: [
            {


                // Change type to "bar", "area", "spline", "pie",etc.
                type: "column",
                dataPoints: [
                    { label: "Number of names",  y: cons  },
                    { label: "Families cultivated", y: 170  },
                    { label: "Genera ", y: 834  },
                    { label: "Number of species",  y: 1741  },
                    { label: "Number of species in nursery",  y: 724  },
                    { label: "Number of species in the Index Seminum",  y: 212  }


                ]
            }
            ]
        });
        chart.render();

        }
    </script>

    

}
