@model UPlant.Models.DB.Specie
@inject LanguageService language
@{
    ViewData["Title"] = "Delete";
}

<div class="card card-outline card-primary">
    <div class="card-header with-border">
        <h3 class="card-title">@language.Getkey("Global_Delete") @language.Getkey("Global_Species") - @language.Getkey("Global_Question_Delete") Specie?</h3>
    </div>
    <div class="card-body">
    <dl class="row">
        <dt class="col-sm-2">
               @language.Getkey("Global_Genus")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.genereNavigation.descrizione)
        </dd>
        <dt class = "col-sm-2">
                @language.Getkey("Global_Name")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class = "col-sm-2">
                @language.Getkey("Global_Scientific_Name")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome_scientifico)
        </dd>
       
        <dt class = "col-sm-2">
            Autori
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.autori)
        </dd>
        <dt class = "col-sm-2">
          @language.Getkey("Global_Subspecies")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.subspecie)
        </dd>
        <dt class = "col-sm-2">
          @language.Getkey("Global_Subspecies_Authors")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.autorisub)
        </dd>
        <dt class = "col-sm-2">
            @language.Getkey("Global_Variety")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.varieta)
        </dd>
        <dt class = "col-sm-2">
            @language.Getkey("Global_Variety_Authors")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.autorivar)
        </dd>
        <dt class = "col-sm-2">
           @language.Getkey("Global_Cultivar")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cult)
        </dd>
        <dt class = "col-sm-2">
            Autorio Cultivar
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.autoricult)
        </dd>
        <dt class = "col-sm-2">
            @language.Getkey("Global_Common_Name")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome_comune)
        </dd>
        <dt class = "col-sm-2">
            @language.Getkey("Global_English_Common_Name")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome_comune_en)
        </dd>
        <dt class="col-sm-2">
           @language.Getkey("Global_Floristic_Kingdom")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.regnoNavigation.descrizione)
        </dd>
        <dt class = "col-sm-2">
            @language.Getkey("Global_Range")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.arealeNavigation.descrizione)
        </dd>
        
        <dt class = "col-sm-2">
            CITES
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.citesNavigation.codice)
        </dd>
       
        <dt class = "col-sm-2">
                IUCN @language.Getkey("Global_Global")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.iucn_globaleNavigation.codice)
        </dd>
        <dt class = "col-sm-2">
                IUCN @language.Getkey("Global_Local")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.iucn_italiaNavigation.codice)
        </dd>

        </dl><p>
            <form asp-action="Delete">
                <input type="hidden" asp-for="id" />
                <input type="submit" value="@language.Getkey("Global_Delete")" class="btn btn-danger" />
            </form>
        </p>
    </div>


</div>
<div>
    <a asp-action="Index" class="btn btn-info">@language.Getkey("Global_Go_Back")</a>

</div>