@model UPlant.Models.DB.Specie
@inject LanguageService language
@{
    ViewData["Title"] = "Edit";
}
<div class="card card-outline card-primary">
    <div class="card-header with-border">
        <h3 class="card-title">@language.Getkey("Global_Edit") @language.Getkey("Global_Species")</h3>
    </div>
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="genere" class="control-label">@language.Getkey("Global_Genus")</label>
                <select asp-for="genere" class="form-control" asp-items="ViewBag.genere"></select>
                <span asp-validation-for="genere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nome" class="control-label">@language.Getkey("Global_Specific_Name")</label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="nome_scientifico" />
            <div class="form-group">
                <label asp-for="autori" class="control-label">@language.Getkey("Global_Species_Authors")</label>
                <input asp-for="autori" class="form-control" />
                <span asp-validation-for="autori" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="subspecie" class="control-label">@language.Getkey("Global_Subspecies")</label>
                <input asp-for="subspecie" class="form-control" />
                <span asp-validation-for="subspecie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="autorisub" class="control-label">@language.Getkey("Global_Subspecies_Authors")</label>
                <input asp-for="autorisub" class="form-control" />
                <span asp-validation-for="autorisub" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="varieta" class="control-label">@language.Getkey("Global_Variety")</label>
                <input asp-for="varieta" class="form-control" />
                <span asp-validation-for="varieta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="autorivar" class="control-label">@language.Getkey("Global_Variety_Authors")</label>
                <input asp-for="autorivar" class="form-control" />
                <span asp-validation-for="autorivar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cult" class="control-label">@language.Getkey("Global_Cultivar")</label>
                <input asp-for="cult" class="form-control" />
                <span asp-validation-for="cult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="autoricult" class="control-label">@language.Getkey("Global_Cultivar_Authors")</label>
                <input asp-for="autoricult" class="form-control" />
                <span asp-validation-for="autoricult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="note" class="control-label">@language.Getkey("Global_Notes")</label>
                <textarea asp-for="note" class="form-control"></textarea>
                <span asp-validation-for="note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nome_comune" class="control-label">@language.Getkey("Global_Common_Name")</label>
                <input asp-for="nome_comune" class="form-control" />
                <span asp-validation-for="nome_comune" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nome_comune_en" class="control-label">@language.Getkey("Global_English_Common_Name")</label>
                <input asp-for="nome_comune_en" class="form-control" />
                <span asp-validation-for="nome_comune_en" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="regno" class="control-label">@language.Getkey("Global_Floristic_Kingdom")</label>
                <select asp-for="regno" class="form-control" asp-items="ViewBag.regno"></select>
                <span asp-validation-for="regno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="areale" class="control-label">@language.Getkey("Global_Range")</label>
                <select asp-for="areale" class="form-control" asp-items="ViewBag.areale"></select>
                <span asp-validation-for="areale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="iucn_globale" class="control-label">@language.Getkey("Global_Iucn") @language.Getkey("Global_Global")</label>
                <select asp-for="iucn_globale" class="form-control" asp-items="ViewBag.iucn_globale"></select>
                <span asp-validation-for="iucn_globale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="iucn_italia" class="control-label">@language.Getkey("Global_Iucn") @language.Getkey("Global_Local")</label>
                <select asp-for="iucn_italia" class="form-control" asp-items="ViewBag.iucn_italia"></select>
                <span asp-validation-for="iucn_italia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cites" class="control-label">@language.Getkey("Global_Cites")</label>
                <select asp-for="cites" class="form-control" asp-items="ViewBag.cites"></select>
                <span asp-validation-for="cites" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="@language.Getkey("Global_Save")" id="salva" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    @Html.ActionLink(@language.Getkey("Global_Go_Back"), null, null, null, new { @class = "btn btn-info go_back" })
</div>
@section Styles {
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/accessioni.min.css" rel="stylesheet" />

}

@section Scripts {
    @{
        <script src="~/js/select2.min.js"></script>
        <script src="~/js/jquery.validation.min.js"></script>
    }


}
@section CustomScripts {
    <script type="text/javascript">
        $(function () {
            $('.go_back').click(function (e) {
                e.preventDefault();
                history.go(-1);
            });
        });
    </script>
    <script>
        jQuery(function () {
            jQuery(".datepicker").datepicker({
                language: "it",
                autoclose: true
            });
        });
    </script>
    <script>
        $('#salva').on('click', function () {
            var e = document.getElementById("genere");
            var val1 = e.options[e.selectedIndex].text;
            var val2 = $('#nome').val().trim();
            var val3 = $('#autori').val().trim();
            if ($('#subspecie').val().length > 0) {

                var val4 = " subsp. " + $('#subspecie').val().trim() + " " + $('#autorisub').val().trim();
            } else {
                var val4 = "";
            }
            if ($('#varieta').val().length > 0) {

                var val6 = " var. " + $('#varieta').val().trim() + " " + $('#autorivar').val().trim();
            } else {
                var val6 = "";
            }
            if ($('#cult').val().length > 0) {
                //togliere i singoli apici da cult e riaggiungerli dopo

                var val8 = " '" + $('#cult').val().trim() + "' " + $('#autoricult').val().trim();
            } else {
                var val8 = "";
            }
            $('#nome_scientifico').val(val1 + " " + val2 + " " + val3 + val4 + val6 + val8);
        });
    </script>
}