@model IEnumerable<UPlant.Models.DB.Specie>
@inject LanguageService language
@{
    ViewData["Title"] = "Index";
}
<div class="card card-outline card-primary">
    <div class="card-header with-border">
        <h1 class="card-title">Elenco</h1>
        @{

            if (User.IsInRole("Administrator"))
            {
                <div class="float-right success ">
                    <a asp-action="Create">
                        <span class="btn btn-success" title="@language.Getkey("Global_Add") @language.Getkey("Global_Species")">
                            @language.Getkey("Global_Add") @language.Getkey("Global_Species")
                        </span>
                    </a>


                </div>
            }
        }
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="table1" class="table table-bordered table-striped dataTable">
                                <thead>
                                    <tr>
                                        <th>
                                        @language.Getkey("Global_Scientific_Name")
                                        </th>
                                        <th>
                                        @language.Getkey("Global_Common_Name")
                                        </th>
                                        <th>
                                        @language.Getkey("Global_English_Common_Name")
                                        </th>
                                        <th>
                                        @language.Getkey("Global_Family")
                                        </th>
                                        <th>
                                        @language.Getkey("Global_Genus")
                                        </th>
                                        <th>
                                        @language.Getkey("Global_Floristic_Kingdom")
                                        </th>
                                        <th>
                                        @language.Getkey("Global_Range")
                                        </th>
                                        <th>
                                            CITES
                                        </th>
                                        <th>
                                            IUCN Globale
                                        </th>
                                        <th>
                                            IUCN Italia
                                        </th>
                                        <th style="width:25%"></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.nome_scientifico)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.nome_comune)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.nome_comune_en)
                                        </td>
                                        <td>
                                @Html.DisplayFor(modelItem => item.genereNavigation.famigliaNavigation.descrizione)
                                        </td>

                                        <td>
                                @Html.DisplayFor(modelItem => item.genereNavigation.descrizione)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.regnoNavigation.descrizione)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.arealeNavigation.descrizione)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.citesNavigation.codice)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.iucn_globaleNavigation.codice)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.iucn_italiaNavigation.codice)
                                        </td>
                                        <td>
                                @if (User.IsInRole("Administrator"))
                                {

                                    <a asp-action="Edit" asp-route-id="@item.id">
                                        <span class="btn btn-warning btn-xs" title="Modifica Specie ">
                                            <i class="fa-solid fa-pencil" style="color: #fafafa;"></i>
                                        </span>
                                    </a>
                                      if (@item.Accessioni.Count() == 0)
                                                {
                                    <a asp-action="Delete" asp-route-id="@item.id">
                                        <span class="btn btn-danger btn-xs" title="Cancella Specie">
                                            <i class="fa-solid fa-trash"></i>
                                        </span>
                                    </a>
                                        }
                                }

                                        
                                        </td>
                                    </tr>
                                    }

                            </table>
                        </div>
                    </div>


                </div>
@section Styles {
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/accessioni.min.css" rel="stylesheet" />
    <link href="~/css/datatables.min.css" rel="stylesheet" />
}



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/datatables.min.js"></script>
}


@section CustomScripts {
    <script>
        jQuery(function () {
            jQuery('#table1').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    </script>
}          