@model UPlant.Models.DB.Province
@inject LanguageService language
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Province</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @language.Getkey("Global_Description")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descrizione)
        </dd>
        <dt class = "col-sm-2">
            @language.Getkey("Global_Code")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.regioneNavigation.codice)
        </dd>
        <dt class="col-sm-2">
            @language.Getkey("Global_English_Description")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.descrizione_en)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.codice">@language.Getkey("Global_Edit")</a> |
    <a asp-action="Index">Back to List</a>
</div>
