@model IEnumerable<SidebarMenu>
@inject LanguageService language

<aside class="main-sidebar sidebar-dark-primary elevation-4 customBorder">
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        @if (User.Identity.IsAuthenticated)
        {
            var logos = @AppSettings.Value.Application.UrlLogoSsmall;
            var logol = @AppSettings.Value.Application.UrlLogoSlarge;
            var definizione = @AppSettings.Value.Application.NomeUrlLogoS;

            var cognome = @User.Identities.FirstOrDefault()?.Claims?.Where(c => c.Type == "family_name").FirstOrDefault()?.Value;
            var nome = @User.Identities.FirstOrDefault()?.Claims?.Where(c => c.Type == "given_name").FirstOrDefault()?.Value;
            <div class="user-panel pull-left image">
                <a href="/" class="brand-link logo-switch ">
                    <img src="~/@logos" alt="logosmall" class="brand-image-xl logo-xs">
                    <img src="~/@logol" alt="logolarge" class="brand-image-xs logo-xl" style="left: 12px">


                    <div class="col-lg">@definizione</div>
                </a>
            </div>


            <div class="sidebar">



                <nav class="mt-2 float-left">

                    <ul class="nav nav-pills nav-sidebar flex-column nav-flat nav-legacy" data-widget="treeview" role="menu" data-accordion="false">
                        @* blocco alberi che vediamo a seconda del ruolo*@



                        @if (User.IsInRole("Administrator"))
                        {

                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-light fa-table-list"></i>

                                    <p class="text-xs-right">@language.Getkey("Shared_Comp_Sb_Administration")</p>

                                    <i class="right fa fa-angle-left"></i>
                                </a>
                                <ul class="nav nav-treeview">

                                    @*un albero*@
                                    <li class="nav-item has-treeview ">
                                        <a href="#" class="nav-link">
                                            <i class="nav-icon fa fa-table" style="color :beige"></i><p style="color :beige">@language.Getkey("Shared_Comp_Sb_User_Management")</p><i class="right fa fa-angle-left"></i>
                                        </a>
                                        <ul class="nav nav-treeview">
                                            <li class="nav-item">
                                                <a asp-action="Index" asp-controller="Users" class="nav-link ">
                                                    <span title="@language.Getkey("Global_Users")">
                                                        <i class="fa fa-angle-right mt-2"></i> @language.Getkey("Global_Users")
                                                    </span>
                                                </a>
                                            </li>

                                            <li class="nav-item">
                                                <a asp-action="Index" asp-controller="TipologiaUtente" class="nav-link ">
                                                    <span title="@language.Getkey("Global_User_Type")">
                                                                <i class="fa fa-angle-right mt-2"></i> @language.Getkey("Global_User_Type")
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    @*un albero*@
                                    <li class="nav-item has-treeview ">
                                        <a href="#" class="nav-link">
                                            <i class="nav-icon fa fa-table" style="color :aqua"></i><p style="color :aqua">@language.Getkey("Shared_Comp_Sb_Accession_Tables")</p><i class="right fa fa-angle-left"></i>
                                        </a>
                                        <ul class="nav nav-treeview">
                                            <li class="nav-item">
                                                <a asp-action="Index" asp-controller="TipoAcquisizione" class="nav-link">
                                                    <span>
                                                        <i class="far fa-circle nav-icon"></i> @language.Getkey("Global_Acquisition_Mode")
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-action="Index" asp-controller="TipiMateriale" class="nav-link ">
                                                    <span>
                                                        <i class="far fa-circle nav-icon"></i> @language.Getkey("Global_Material_Type")
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-action="Index" asp-controller="Nazioni" class="nav-link active">
                                                    <span>
                                                        <i class="far fa-circle nav-icon"></i> @language.Getkey("Global_Country")
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-action="Index" asp-controller="Provenienze" class="nav-link active">
                                                    <span>
                                                        <i class="far fa-circle nav-icon"></i> @language.Getkey("Global_Material_Origin")
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-action="Index" asp-controller="StatoMateriale" class="nav-link active">
                                                    <span>
                                                        <i class="far fa-circle nav-icon"></i> @language.Getkey("Global_Material_Status")
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-action="Index" asp-controller="GradoIncertezza" class="nav-link active">
                                                    <span>
                                                        <i class="far fa-circle nav-icon"></i> @language.Getkey("Global_Taxonomic_Uncertainty")
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-action="Index" asp-controller="Fornitori" class="nav-link active">
                                                    <span>
                                                        <i class="far fa-circle nav-icon"></i> @language.Getkey("Global_Donor_Supplier")
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-action="Index" asp-controller="Raccoglitori" class="nav-link active">
                                                    <span>
                                                        <i class="far fa-circle nav-icon"></i> @language.Getkey("Global_Collector")
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-action="Index" asp-controller="Identificatori" class="nav-link active">
                                                    <span>
                                                        <i class="far fa-circle nav-icon"></i> @language.Getkey("Global_Determiner")
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-action="Index" asp-controller="TipoIdentificatore" class="nav-link active">
                                                    <span>
                                                        <i class="far fa-circle nav-icon"></i> @language.Getkey("Global_Determiner_Type")
                                                    </span>
                                                </a>
                                            </li>

                                        </ul>
                                    </li>
                                    @*un albero*@
                                    <li class="nav-item has-treeview">
                                        <a href="#" class="nav-link">
                                            <i class="nav-icon fa fa-table" style="color :orangered"></i><p style="color :orangered">@language.Getkey("Shared_Comp_Sb_Individual_Tables")</p><i class="right fa fa-angle-left"></i>
                                        </a>
                                        <ul class="nav nav-treeview">
                                            <li class="nav-item">
                                                <a asp-action="Index" asp-controller="ModalitaPropagazione" class="nav-link active">
                                                    <span>
                                                        <i class="far fa-circle nav-icon"></i> @language.Getkey("Global_Propagation_Method")
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-action="Index" asp-controller="Sesso" class="nav-link active">
                                                    <span>
                                                        <i class="far fa-circle nav-icon"></i> @language.Getkey("Global_Sex")
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-action="Index" asp-controller="Settori" class="nav-link active">
                                                    <span>
                                                        <i class="far fa-circle nav-icon"></i> @language.Getkey("Global_Sector")
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-action="Index" asp-controller="Collezioni" class="nav-link active">
                                                    <span>
                                                        <i class="far fa-circle nav-icon"></i> @language.Getkey("Global_Collection")
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-action="Index" asp-controller="Cartellini" class="nav-link active">
                                                    <span>
                                                        <i class="far fa-circle nav-icon"></i> @language.Getkey("Global_Label")
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-action="Index" asp-controller="Condizioni" class="nav-link active">
                                                    <span>
                                                        <i class="far fa-circle nav-icon"></i> @language.Getkey("Global_Condition")
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-action="Index" asp-controller="StatoIndividuo" class="nav-link active">
                                                    <span>
                                                        <i class="far fa-circle nav-icon"></i> @language.Getkey("Global_Individual_Status")
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    @*un albero*@
                                    <li class="nav-item has-treeview">
                                        <a href="#" class="nav-link">
                                            <i class="nav-icon fa fa-table" style="color :forestgreen"></i><p style="color :forestgreen">@language.Getkey("Global_Taxonomic_Backbone")</p><i class="right fa fa-angle-left"></i>
                                        </a>
                                        <ul class="nav nav-treeview">
                                            <li class="nav-item">
                                                <a asp-action="Index" asp-controller="Famiglie" class="nav-link active">
                                                    <span>
                                                        <i class="far fa-circle nav-icon"></i> @language.Getkey("Global_Family")
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-action="Index" asp-controller="Generi" class="nav-link active">
                                                    <span>
                                                        <i class="far fa-circle nav-icon"></i> @language.Getkey("Global_Genus")
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-action="Index" asp-controller="Specie" class="nav-link active">
                                                    <span>
                                                        <i class="far fa-circle nav-icon"></i> @language.Getkey("Global_Species")
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-action="Index" asp-controller="Areali" class="nav-link active">
                                                    <span>
                                                        <i class="far fa-circle nav-icon"></i> @language.Getkey("Global_Range")
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-action="Index" asp-controller="Regni" class="nav-link active">
                                                    <span>
                                                        <i class="far fa-circle nav-icon"></i> @language.Getkey("Global_Floristic_Kingdom")
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-action="Index" asp-controller="Cites" class="nav-link active">
                                                    <span>
                                                        <i class="far fa-circle nav-icon"></i> @language.Getkey("Global_Cites")
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-action="Index" asp-controller="Iucn" class="nav-link active">
                                                    <span>
                                                        <i class="far fa-circle nav-icon"></i> @language.Getkey("Global_Iucn")
                                                    </span>
                                                </a>
                                            </li>

                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        }
                        @if (User.IsInRole("Administrator") || User.IsInRole("Operator") || User.IsInRole("TreeKeeper") || User.IsInRole("Discover") || User.IsInRole("Seminum") || User.IsInRole("Utility"))

                        {

                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-light fa-table-list">
                                    </i><p class="text-xs-right">  @language.Getkey("Shared_Comp_Sb_Data_Entry")</p>
                                    <i class="right fa fa-angle-left"></i>
                                </a>


                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-action="Create" asp-controller="Accessioni" class="nav-link ">
                                            <span>
                                                <i class="far fa-circle nav-icon"></i> @language.Getkey("Home_Index_2")
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-light fa-table-list"></i><p class="text-xs-right">  @language.Getkey("Global_Search_Modules")</p>
                                    <i class="right fa fa-angle-left"></i>
                                </a>


                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-action="Index" asp-controller="Accessioni" class="nav-link ">
                                            <span>
                                                <i class="far fa-circle nav-icon"></i> @language.Getkey("Home_Index_17")
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-action="RicercaAccessioni" asp-controller="Home" class="nav-link ">
                                            <span>
                                                <i class="far fa-circle nav-icon"></i> @language.Getkey("Home_Index_5")
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-action="Ricercaindividui" asp-controller="Home" class="nav-link ">
                                            <span>
                                                <i class="far fa-circle nav-icon"></i> @language.Getkey("Home_Index_7")
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-action="EstraiAccessioniTotale" asp-controller="Home" class="nav-link ">
                                            <span>
                                                <i class="far fa-circle nav-icon"></i> @language.Getkey("Home_Index_3")
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-action="EstraiIndividuiTotale" asp-controller="Home" class="nav-link ">
                                            <span>
                                                <i class="far fa-circle nav-icon"></i> @language.Getkey("Home_Index_6")
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-action="EstraiSpecieTotale" asp-controller="Home" class="nav-link ">
                                            <span>
                                                <i class="far fa-circle nav-icon"></i> @language.Getkey("Home_Index_8")
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else if (User.IsInRole("Reader"))
                        {

                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                            <i class="fa fa-light fa-table-list"></i>
                                                    <p class="text-xs-right">@language.Getkey("Global_Search_Modules")</p><i class="right fa fa-angle-left"></i>
                                    
                                </a>


                                <ul class="nav nav-treeview">

                                    <li class="nav-item">
                                        <a asp-action="RicercaAccessioni" asp-controller="Home" class="nav-link ">
                                            <span>
                                                <i class="far fa-circle nav-icon"></i> @language.Getkey("Home_Index_5")
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-action="Ricercaindividui" asp-controller="Home" class="nav-link ">
                                            <span>
                                                <i class="far fa-circle nav-icon"></i> @language.Getkey("Home_Index_7")
                                            </span>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                        }

                        @if (User.IsInRole("Administrator") || User.IsInRole("Operator") || User.IsInRole("Alberi") || User.IsInRole("Discover") || User.IsInRole("Seminum") || User.IsInRole("Utility"))

                        {
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-light fa-table-list"></i>
                                    <p class="text-xs-right">@language.Getkey("Shared_Comp_Sb_Support_Tools")</p><i class="right fa fa-angle-left"></i>
                                </a>
                                <ul class="nav nav-treeview">
                                    @if (User.IsInRole("Administrator") || User.IsInRole("Operator"))
                                    {
                                        <li class="nav-item has-treeview">
                                            <a href="#" class="nav-link">
                                                <i class="nav-icon fa fa-table" style="color :orange"></i>
                                                <p class="text-xs-right" style="color :orange">@language.Getkey("Shared_Comp_Sb_UPlant_Discover")</p><i class="right fa fa-angle-left"></i>
                                            </a>
                                            <ul class="nav nav-treeview">
                                                <li class="nav-item">
                                                    <a asp-action="Index" asp-controller="Percorsi" class="nav-link ">
                                                        <span>
                                                            <i class="far fa-circle nav-icon"></i> @language.Getkey("Global_Path")
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    }
                                    @if ((@cognome.ToUpper() == "PICCONI"))
                                    {
                                        <li class="nav-item">
                                            <a asp-action="ElencoNomi" asp-controller="Specie" class="nav-link ">
                                                <span>
                                                    <i class="fa fa-angle-right mt-2"></i>@language.Getkey("Global_Common_Name") @language.Getkey("Global_Species")
                                                </span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-action="CreaThumb" asp-controller="Home" class="nav-link ">
                                                <span>
                                                    <i class="fa fa-angle-right mt-2"></i> @language.Getkey("Global_Add") @language.Getkey("Global_Thumb")
                                                </span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-action="Index" asp-controller="Roles" class="nav-link ">
                                                <span title="Ruoli">
                                                    <i class="fa fa-angle-right mt-2"></i> @language.Getkey("Global_Role")
                                                </span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-action="Index" asp-controller="Organizzazioni" class="nav-link ">
                                                <span title="Organizzazioni">
                                                    <i class="fa fa-angle-right mt-2"></i> @language.Getkey("Global_Organization")
                                                </span>
                                            </a>
                                        </li>
                                    }

                                </ul>


                            </li>




                        }
                    </ul>

                </nav>




            </div>
        }
    </aside>
</aside>