@model UPlant.Models.DB.StatoIndividuo
@inject LanguageService language
@{
    ViewData["Title"] = "Delete";
}

<div class="card card-outline card-primary">
    <div class="card-header with-border">
        <h3 class="card-title">@language.Getkey("Global_Delete") @language.Getkey("Global_Individual_Status") - @language.Getkey("Global_Question_Delete") @language.Getkey("Global_Individual_Status")?</h3>
    </div>
    <div class="card-body">
    <dl class="row">
        <dt class = "col-sm-2">
                @language.Getkey("Global_Individual_Status")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.stato)
        </dd>
            <dt class="col-sm-2">
                @language.Getkey("Global_English_Description")
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.descrizione_en)
            </dd>
        <dt class = "col-sm-2">
                @language.Getkey("Global_Organization")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.organizzazioneNavigation.descrizione)
        </dd>
        </dl><p>
            <form asp-action="Delete">
                <input type="hidden" asp-for="id" />
                <input type="submit" value="@language.Getkey("Global_Delete")" class="btn btn-danger" />
            </form>
        </p>
    </div>


</div>
<div>
    <a asp-action="Index" class="btn btn-info">@language.Getkey("Global_Go_Back")</a>

</div>