@model UPlant.Models.DB.StatoIndividuo
@inject LanguageService language
@{
    ViewData["Title"] = "Edit";
}
<div class="card card-outline card-primary">
    <div class="card-header with-border">
        <h3 class="card-title">@language.Getkey("Global_Edit") @language.Getkey("Global_Material_Status")</h3>
    </div>
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="stato" class="control-label">@language.Getkey("Global_Individual_Status")</label>
                <input asp-for="stato" class="form-control" />
                <span asp-validation-for="stato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descrizione_en" class="control-label">@language.Getkey("Global_English_Description")</label>
                <input asp-for="descrizione_en" class="form-control" />
                <span asp-validation-for="descrizione_en" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="visualizzazioneweb" class="control-label">@language.Getkey("Global_Web_View")</label><br />
                <input asp-for="visualizzazioneweb" class="form-check-input mx-auto" id="visualizzazioneweb" name="visualizzazioneweb" />
                <span asp-validation-for="visualizzazioneweb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ordinamento" class="control-label">@language.Getkey("Global_Sorting")</label>
                <input asp-for="ordinamento" class="form-control" />
                <span asp-validation-for="ordinamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="organizzazione" class="control-label">@language.Getkey("Global_Organization")</label>
                <select asp-for="organizzazione" class="form-control" asp-items="ViewBag.organizzazione"></select>
                <span asp-validation-for="organizzazione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@language.Getkey("Global_Save")" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    @Html.ActionLink(@language.Getkey("Global_Go_Back"), null, null, null, new { @class = "btn btn-info go_back" })
</div>
@section Styles {
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/accessioni.min.css" rel="stylesheet" />

}



@section Scripts {
    @{
        <script src="~/js/select2.min.js"></script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


}
@section CustomScripts {
    <script type="text/javascript">
        $(function () {
            $('.go_back').click(function (e) {
                e.preventDefault();
                history.go(-1);
            });
        });
    </script>
}