@model UPlant.Models.DB.Percorsi
@inject LanguageService language
@{
    ViewBag.Title = @language.Getkey("Global_Path");
}
<div class="row">
    <div class="col-sm-12">


        <button type="button" id="torna" class="btn btn-info btn-xs" onclick="window.location.href = '@Url.Action("Index", "Percorsi")';">
            @language.Getkey("Global_Go_Back")
        </button>
    </div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="box box-primary">
			<div class="box-header with-border">
                <h3 class="box-title">@language.Getkey("Global_Add")</h3>
            </div>
			@using (Html.BeginForm()) 
			{
				@Html.AntiForgeryToken()
        <div class="box-body">
                    <div asp-validation-summary="None" class="text-danger"></div>
            <div class="form-group">
                        <b>@language.Getkey("Global_Title")</b><br>
                @Html.EditorFor(model => model.titolo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.titolo, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                        <b>@language.Getkey("Global_Description")</b><br>
                        @Html.TextAreaFor(model => model.descrizione, new { htmlAttributes = new { @class = "form-control", @rows = 10 , @cols = 80 } })
                        @Html.ValidationMessageFor(model => model.descrizione, "", new { @class = "text-danger" })
                        <br />@language.Getkey("Percorsi_Create_1")

                
            </div>
            <div class="form-group">
                        <b>@language.Getkey("Global_English_Title")</b><br>
                <input type="text" id="titolo_en" name="titolo_en" />

                @Html.ValidationMessageFor(model => model.titolo_en, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                        <b>@language.Getkey("Global_English_Description")</b><br>
                <textarea id="descrizione_en" name="descrizione_en" rows="10" cols="80"></textarea>
                        <br />@language.Getkey("Percorsi_Create_1")

                @Html.ValidationMessageFor(model => model.descrizione_en, "", new { @class = "text-danger" })
            </div>



            <div class="form-group">
                <div class="col-md-offset-0">
                    <input type="submit" value="@language.Getkey("Global_Add")" class="btn btn-success" />
                </div>
            </div>


        </div>

			}

		</div>
	</div>
</div>



@section Scripts {
    @{
        <script src="~/js/select2.min.js"></script>
        <script src="~/js/jquery.validation.min.js"></script>
    }


}
@section CustomScripts {
    <script type="text/javascript">
        cript >
            jQuery(function () {
                jQuery(".datepicker").datepicker({
                    language: "it",
                    autoclose: true
                });
            });
    </script>
}
