@model UPlant.Models.DB.Percorsi
@inject LanguageService language
@{
    
    ViewBag.Title = @language.Getkey("Global_Path");
}

<div class="row">
    <div class="col-sm-12">


        <button type="button" id="torna" class="btn btn-info btn-xs" onclick="window.location.href = '@Url.Action("Index", "Percorsi")';">
            @language.Getkey("Global_Go_Back")
        </button>
    </div>
</div>
<br>
<div class="card card-outline card-primary">
    <div class="card-header with-border">

        <div class="card-body">
           <div class="row">
                        <div class="col-sm-12">
                            <table id="table0" class="table table-bordered table-striped dataTable">
                                <thead>
                                    <tr>
                                        <th>
                                    @language.Getkey("Global_Thumb")
                                        </th>
                                        <th>
                                    @language.Getkey("Global_Title")
                                        </th>
                                        <th>
                                    @language.Getkey("Global_English_Title")
                                        </th>
                                        <th>
                                    @language.Getkey("Global_Description")
                                        </th>
                                        <th>
                                    @language.Getkey("Global_English_Description")
                                        </th>
                                        <th>
                                    @language.Getkey("Global_Credits")
                                        </th>
                                        <th>
                                    @language.Getkey("Global_Author")
                                        </th>
                                        <th>
                                            &nbsp;
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                       
                                        <td style="vertical-align: middle; text-align: center;" class="zoom">
                                           
                                                <img src="@Url.Action("ViewImg","Percorsi", new { percorso = Model.id,nomefile = Model.nomefile  })" title="@Html.DisplayFor(model => model.nomefile)" height="40" />
                                           
                                        </td>
                                        <td style="vertical-align: middle; text-align: center;">
                                           
                                                @Html.DisplayFor(model => model.titolo)
                                            
                                        </td>
                                        <td style="vertical-align: middle; text-align: center;">
                                           
                                                @Html.DisplayFor(model => model.titolo_en)
                                            
                                        </td>
                                        <td style="vertical-align: middle; text-align: center;">
                                    @Model.descrizione.ToString().Substring(0, (Model.descrizione.Length > 50) ? 50 : Model.descrizione.Length) [...]
                                    

                                </td>
                                        <td style="vertical-align: middle; text-align: center;">

                                    @Model.descrizione_en.ToString().Substring(0, (Model.descrizione_en.Length > 50) ? 50 : Model.descrizione_en.Length) [...]
                                            
                                        </td>
                                        
                                        <td style="vertical-align: middle; text-align: center;">
                                           
                                                @Html.DisplayFor(model => model.credits)
                                            
                                        </td>
                                        <td style="vertical-align: middle; text-align: center;">
                                           
                                                @Html.DisplayFor(model => model.autore)
                                           
                                        </td>
                                        <td style="vertical-align: middle;">
                                            @{
                                                if (User.IsInRole("Administrator") || User.IsInRole("Discover"))
                                                {
                                                            <a asp-action="Edit" asp-controller="Percorsi" asp-route-id="@Model.id">
                                                <span class="btn btn-warning btn-xs" title="@language.Getkey("Global_Edit") @language.Getkey("Global_Path")">
                                                                    <i class="fa-solid fa-pencil" style="color: #fafafa;"></i>
                                                                </span>
                                                            </a>
                                                    
                                                    
                                                 

                                                }
                                            }
                                           
                                        </td>
                                    </tr>
                            </table>
                        </div>
                    </div>



                </div>




                        <div class="row" id="risultato">
                            <div class="col-sm-12"> 
                                <table id="table2" name="table2" class="table table-bordered table-striped dataTable">
                                    <thead>

                                        <tr>
                                            <th></th>
                                            <th>
                                @language.Getkey("Global_Progressive")
                                            </th>
                                            <th>
                                @language.Getkey("Global_Old_Progressive")
                                            </th>
                                            <th>
                                @language.Getkey("Global_Scientific_Name")
                                            </th>
                                            <th>
                                @language.Getkey("Global_Sector")
                                            </th>
                                            <th>
                                @language.Getkey("Global_Collection")
                                            </th>
                                            <th>
                                @language.Getkey("Global_Label")
                                            </th>
                                            <th>
                                @language.Getkey("Global_Individual_Status")
                                            </th>
                                            <th>
                                @language.Getkey("Global_Number_Of_Images")
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                        @{
                                            if (Model.IndividuiPercorso != null)
                                            {


                                                foreach (var item in Model.IndividuiPercorso)
                                                {
                                                                                        <tr>
                                                                                            <td>
                                                            <a asp-action="Details" asp-controller="Individui" asp-route-id="@item.individuoNavigation.id" target="_blank">
                                                <span class="btn btn-primary  btn-xs" title="@language.Getkey("Global_Detail") + ' ' + @language.Getkey("Global_Individual")">
                                                                    <i class="fa-solid fa-search"></i>
                                                                </span>
                                                            </a>


                                                                                            </td>
                                                                                            <td>
                                                                                                @Html.DisplayFor(modelItem => item.individuoNavigation.progressivo)
                                                                                            </td>
                                                                                            <td>
                                                                                                @Html.DisplayFor(modelItem => item.individuoNavigation.vecchioprogressivo)
                                                                                            </td>
                                                                                            <td>
                                                                                                @Html.DisplayFor(modelItem => item.individuoNavigation.accessioneNavigation.specieNavigation.nome_scientifico)
                                                                                            </td>

                                                                                            <td>
                                                                                                @Html.DisplayFor(modelItem => item.individuoNavigation.settoreNavigation.settore)
                                                                                            </td>
                                                                                            <td>
                                                                                                @Html.DisplayFor(modelItem => item.individuoNavigation.collezioneNavigation.collezione)
                                                                                            </td>
                                                                                            <td>
                                                                                                @Html.DisplayFor(modelItem => item.individuoNavigation.cartellinoNavigation.descrizione)
                                                                                            </td>

                                                        @{
                                                    if (item.individuoNavigation.StoricoIndividuo.OrderByDescending(z => z.dataInserimento).FirstOrDefault().statoIndividuoNavigation.stato.Trim().ToLower() != "vivo")
                                                    {
                                                                        <td style="background-color:red">  @Html.DisplayFor(modelItem => item.individuoNavigation.StoricoIndividuo.OrderByDescending(x => x.dataInserimento).FirstOrDefault().statoIndividuoNavigation.stato)</td>
                                                                                            } else {
                                                                        <td>@Html.DisplayFor(modelItem => item.individuoNavigation.StoricoIndividuo.OrderByDescending(x => x.dataInserimento).FirstOrDefault().statoIndividuoNavigation.stato)</td>
                                                                                            }
                                                                                                }


                                                                                                                                                                                    


                                                                                                    <td>
                                                                                                        @Html.DisplayFor(modelItem => item.individuoNavigation.ImmaginiIndividuo.Count)
                                                                                                    </td>
                                                                                                    <td>
                                                                                                        @{


                                                                                                      if (User.IsInRole("Administrator")  || User.IsInRole("Discover"))
                                                                                                    {
                                                    

                                                       
                                                    



                                                                                                        var idindper = @Html.Raw(item.id);
                                                       
                                                                            <button type="button" id="DeleteIndividuoPercorso" class="btn btn-danger btn-xs" value="@idindper" onclick="CancellaIndividuoPercorso(this.value)"><i class="fa-solid fa-trash"></i></button>

                                                                                                                        <div class="modal fade" id="@item.id" role="dialog" data-url='@Url.Action("DeleteIndividuoPercorso","Percorsi", new { @id =  item.id,percorso = item.percorsoNavigation.id})'>
                                                                                                                        </div>

                                                                                                    }
                                                                                                        }




                                                                                                    </td>
                                                                                                </tr>
                                                }
                                            }
                                        }

                                </table>
                            </div>
                        </div>








                    </div>
                </div>
  
<h4 class="box-title">@language.Getkey("Global_Add") @language.Getkey("Global_Individual")</h4>

<div class="row">

    <div class="col-md-2">
        <input id="progressivo" name="progressivo" type="text" placeholder="@language.Getkey("Global_Progressive")">
        <input id="idpercorso" name="idpercorso" type="hidden" value="@Model.id">
    </div>
    <div class="col-md-1">
        <button type="submit" id="cerca" class="pbSubmit btn  btn-success btn-rounded btn-sm">Cerca</button>

    </div>

</div>

<div class="row" id="risultato2">

</div>

@section Styles {


}

@section CustomStyles {
    <style>
        .ui-autocomplete {
            margin: 0px;
            font-family: Arial, Verdana, Sans-Serif;
            float: left;
            width: 10%;
            list-style-type: none;
            color: #0060B6;
            text-decoration: none;
        }

            .ui-autocomplete .fixed-height {
                float: left;
                max-height: 175px;
                overflow: auto !important;
                list-style-type: none;
            }

            .ui-autocomplete .fixed-height li {
                    font-family: Arial, Verdana, Sans-Serif;
                    float: left;
                    width: 100%;
                    list-style-type: none;
                    text-align: left;
                    font: bold 26px Poiret One;
                    list-style-type: none;
                }

            /* to distinctly see which returned item is selected/hovered over*/
            .ui-autocomplete .ui-menu-item .ui-corner-all {
                float: left;
                width: 100%;
                height: 30px;
                padding: 10px 0 10px 0;
                background: #FFF;
                list-style-type: none;
            }

            /* to hide the lower left text*/
            .ui-autocomplete .ui-menu-item .ui-state-focus {
                list-style-type: none;
                background-color: #00F;
                cursor: pointer;
            }

        .zoom {
            padding: 0px;
            transition: transform .2s; /* Animation */
            width: 50px;
            height: 50px;
            margin: 0 auto;
        }

            .zoom:hover {
                transform: scale(3.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
            }
    </style>


}
@section Scripts {
  

    <script src="~/js/datatables.min.js"></script>

}
@section CustomScripts {
         

    <script type="text/javascript">
        function CancellaIndividuoPercorso(x) {
            var url = $('#' + x).data('url');
            $.get(url, function (data) {
                $('#' + x).html(data);
                $('#' + x).modal({ backdrop: "static" });
            });
        }
    </script>

    <script type="text/javascript">
            $(document).ready(function () {
                var baseUrlauto = '@Url.Action("AutoComplete", "Percorsi")';

               
                $("#progressivo").autocomplete({
                 source: function(request, response) {
                    $.ajax({
                    url: baseUrlauto,
                    dataType: "json",
                   data: {
                        term : request.term,
                        field : "progressivo"
                    },
                    success: function(data) {
                         response(data);
                    }
                    });
                 }
                });


            $('#table1').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'info': true,
                'autoWidth': false,
                'ordering': true
            })
            $('#table1').DataTable().order([7, 'asc']).draw();



            });
            var baseUrlRicerca = '@Url.Action("Ricerca", "Percorsi")';

            $("#cerca").click(function () {
                var prog = $('#progressivo').val();
                var idpercorso = $('#idpercorso').val();
                $.ajax({
                    type: "GET",

                    url: baseUrlRicerca,
                    data: {
                        'idpercorso': idpercorso,
                        'progressivo': prog
                    },
                    success: function (data) {
                var  namesc = "@language.Getkey("Global_Scientific_Name")";
             var  oldprog = "@language.Getkey("Global_Old_Progressive")";
         var sector = "@language.Getkey("Global_Sector")";
           var coll = "@language.Getkey("Global_Collection")";
     var lab = "@language.Getkey("Global_Label")";
           var imgs = "@language.Getkey("Global_Images")";
                 var add = "@language.Getkey("Global_Add")";
                     var ind = "@language.Getkey("Global_Individual")";
                        var s = '<div class="col-sm-12"><table id="table1" class="table table-bordered table-striped dataTable">';
                                 s += '<thead><tr><th></th><th>Progressivo</th><th>'+oldprog+'</th><th>'+names+'</th><th>'+sector+'</th><th>'+coll+'</th><th>'+lab+'</th><th>'+imgs+'</th></tr></thead>';
                        s += '<tbody>';
                        for (var i = 0; i < data.length; i++) {
                            var per = data[i].idpercorso;
                            var indi = data[i].idindividuo;
                            var action = '@Url.Action("Inserisciindividuopercorso", "Percorsi")?percorso=' + per + '&individuo=' + indi;



                            s += '<tr><td><a href="'+action+'">';
                            s += ' <button class="btn btn-success btn-xs" title="'+add+ ' ' + ind+ '" onclick="window.location.href =' + action +'"><i class="fa-solid fa-plus"></i></button></a></td>';
                            s += '<td>' + data[i].progressivo + '</td>';

                            if (data[i].vecchioprogressivo == null) {
                                s += '<td></td>';
                            } else {
                            s += '<td>' + data[i].vecchioprogressivo + '</td>';
                            }
                           
                            s += '<td>' + data[i].nomescientifico + '</td>';
                            s += '<td>' + data[i].settore + '</td>';
                            s += '<td>' + data[i].collezione + '</td>';
                            s += '<td>' + data[i].cartellino + '</td>';
                            s += '<td>' + data[i].immagini + '</td></tr>';
                        }
                        if (i == 0) {
                            alert("Non ho trovato individui corrispondenti verificare e correggi");


                        }
                        s += '</tbody></table></div>';
                        $("#risultato2").html(s);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Error during process: \n' + xhr.responseText);
                    }

                });
            });
    </script>
   
}
