@model IEnumerable<UPlant.Models.DB.Percorsi>
@inject LanguageService language
@{
  
    ViewBag.Title = "Percorsi";
}

<div class="card card-outline card-primary">
    <div class="card-header with-border">
        <h1 class="card-title">Elenco</h1>
        <div class="float-right success">
                    <a asp-action="Create" asp-controller="Percorsi">
                        <span class="btn btn btn-success" title="crea percorso">
                    @language.Getkey("Global_Add")
                        </span>
                    </a>
                </div>
			</div>
    <div class="card-body">
               
                <div id="table1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

                    <div class="row">
                        <div class="col-sm-12">
                            <table id="table1" class="table table-bordered table-striped dataTable">
                                <thead>
                                    <tr>
                                        <th>
                                        </th>
                                        <th>
                                    @language.Getkey("Global_Title")
                                        </th>
                                        <th>
                                    @language.Getkey("Global_Description")
                                        </th>
                                       
                                        <th>
                                    @language.Getkey("Global_English_Title")
                                        </th>
                                        <th>
                                    @language.Getkey("Global_English_Description")
                                        </th>
                                        <th>
                                    @language.Getkey("Global_Entry_Date") 
                                        </th>
                                        <th>
                                    @language.Getkey("Global_Author")
                                        </th>
                                        <th style="width:25%"></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td style="text-align: center;">
                                                <a asp-action="Details" asp-controller="Percorsi" asp-route-id="@item.id">
                                            <span class="btn btn-primary  btn-xs" title="@language.Getkey("Global_Detail") + ' ' + @language.Getkey("Global_Individual")">
                                                        <i class="fa-solid fa-search"></i>
                                                    </span>
                                                </a>




                                                @foreach (var p in ViewBag.pim)
                                                {
                                                    if (p == item.id)
                                                    {

                                                        <i class="fa-solid alert-default-warning" style="color:red"></i>

                                                    }

                                                }

                                            </td>
                                            <td style=" text-align: center;">
                                                @Html.DisplayFor(modelItem => item.titolo)
                                            </td>
                                            <td style=" text-align: center;">
                                        @item.descrizione.ToString().Substring(0, (item.descrizione.Length > 100) ? 100 : item.descrizione.Length) [...]
                                            </td>
                                            <td style=" text-align: center;">
                                                @Html.DisplayFor(modelItem => item.titolo_en)
                                            </td>
                                            <td style=" text-align: center;">
                                        @item.descrizione_en.ToString().Substring(0, (item.descrizione_en.Length > 100) ? 100 : item.descrizione_en.Length) [...] 
                                            </td>
                                            <td style=" text-align: center;">
                                                @Convert.ToDateTime(item.datacreazione).ToString("dd/MM/yyyy")
                                            </td>
                                            <td style="vertical-align: top; text-align: center;">
                                                @Html.DisplayFor(modelItem => item.autore)
                                            </td>
                                            <td style=" vertical-align: top;">
                                                @{
                                                    if (User.IsInRole("Administrator")  || User.IsInRole("Discover"))
                                                    {
                                                        if (item.attivo == true)
                                                        {
                                                            <button type="button" id="Sito" class="btn btn-info btn-xs" onclick="window.location.href = '@Url.Action("ShowHidden", "Percorsi", new { percorso = item.id  })';">
                                                                <i class="fa-solid fa-eye"></i>
                                                            </button>
                                                        }
                                                        else
                                                        {
                                                            <button type="button" id="Sito" class="btn btn-light btn-xs" onclick="window.location.href = '@Url.Action("ShowHidden", "Percorsi", new { percorso = item.id })';">
                                                                <i class="fa-solid fa-eye-slash"></i>
                                                            </button>
                                                        }
                                                        <a asp-action="Edit" asp-controller="Percorsi" asp-route-id="@item.id">
                                                    <span class="btn btn-warning btn-xs" title="@language.Getkey("Global_Edit") percorso">
                                                                <i class="fa-solid fa-pencil" style="color: #fafafa;"></i>
                                                            </span>
                                                        </a>
                                                 
                                                    }
                                                    if (User.IsInRole("Administrator"))
                                                    
                                                    {
                                                        <a asp-action="Delete" asp-controller="Percorsi" asp-route-id="@item.id">
                                                    <span class="btn btn-danger btn-xs" title="@language.Getkey("Global_Delete") percorso">
                                                                <i class="fa-solid fa-trash"></i>
                                                            </span>
                                                        </a>


                                                    }

                                                }
                                                
                                            </td>
                                        </tr>
                                    }

                            </table>
                        </div>
                    </div>


                </div>
            </div>
		</div>


@section CustomScripts {

    <script>
        jQuery(function () {
            jQuery('#table1').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    </script>
}