@model UPlant.Models.DB.Individui
@inject LanguageService language
@{
    ViewData["Title"] = "Delete";
}


<div class="row">
    <div class="col-xs-12">
        <div class="card card-outline card-primary">
            <div class="card-header with-border">
                <form asp-action="Delete">
                    <h3 class="card-title text-red">@language.Getkey("Global_Delete") @language.Getkey("Global_Individual") - @language.Getkey("Global_Question_Delete") @language.Getkey("Global_Individual") ?</h3>
                   <br />
                <div class="card-body  ">
                        <table style="height: 30px; width: 100% " class="table-striped table-bordered">
                            <tbody>
                                <tr style="height: 23px;">
                                    <th style="width: 20% "> @language.Getkey("Global_Progressive")</th>
                                    <th style="width: 20% ">@Html.DisplayNameFor(model => model.sessoNavigation)</th>
                                </tr>
                                <tr style="height: 23px;">
                                    <td style="width: 478px; height: 23px;"> @Html.DisplayFor(model => model.progressivo)</td>
                                    <td style="width: 239px; height: 23px;">@Html.DisplayFor(model => model.sessoNavigation.descrizione)</td>

                                </tr>
                                  <tr style="height: 23px;">
                                    <th style="width: 20% ">@Html.DisplayNameFor(model => model.propagatoData)</th>
                                    <th style="width: 20% ">@Html.DisplayNameFor(model => model.propagatoModalita)</th>
                                </tr>
                                <tr style="height: 23px;">
                                    <td style="width: 478px; height: 23px;">@Html.DisplayFor(model => model.propagatoData)</td>
                                    <td style="width: 239px; height: 23px;">@Html.DisplayFor(model => model.propagatoModalitaNavigation.propagatoModalita)</td>

                                </tr>
                                <tr style="height: 23px;">
                                    <th style="width: 20% ">@language.Getkey("Global_Sector")</th>
                                    <th style="width: 20% ">@Html.DisplayNameFor(model => model.collezioneNavigation)</th>
                                </tr>
                                <tr style="height: 23px;">
                                    <td style="width: 478px; height: 23px;">@Html.DisplayFor(model => model.settoreNavigation.settore)</td>
                                    <td style="width: 239px; height: 23px;">@Html.DisplayFor(model => model.collezioneNavigation.collezione)</td>

                                </tr>
                                <tr style="height: 23px;">
                                    <th style="width: 20% ">@Html.DisplayNameFor(model => model.destinazioni)</th>
                                    <th style="width: 20% ">@Html.DisplayNameFor(model => model.note)</th>
                                </tr>
                                <tr style="height: 23px;">
                                    <td style="width: 478px; height: 23px;">@Html.DisplayFor(model => model.destinazioni)</td>
                                    <td style="width: 239px; height: 23px;">@Html.DisplayFor(model => model.note)</td>

                                </tr>
                            </tbody>
                        </table>
                        <div class="card-footer with-border">@language.Getkey("Individui_Delete")
                        </div>
            </div>
                    
                <input type="hidden" asp-for="id" />
                    <input type="submit" value="@language.Getkey("Global_Delete")" class="btn btn-danger" />
                    <input type="button" value="@language.Getkey("Global_Go_Back")" class="btn alert-info" onclick="javascript:window.history.back();" />
            </form>
    </div>
    </div>
</div>
  
</div>
