@model IEnumerable<UPlant.Models.DB.ImmaginiIndividuo>
@inject LanguageService language
@{
    string pathLangDatatables = @Url.Content("~/Content/DataTables/lang/");
    ViewBag.Title = @language.Getkey("Global_Delete") +" " + @language.Getkey("Global_Image");
}
<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #3c8dbc; ">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModaldel-label" style="color: azure">@language.Getkey("Global_Delete") @language.Getkey("Global_Image")</h4>
                </div>
                <div class="modal-body">

                    <h4>@language.Getkey("Global_Delete") @language.Getkey("Global_Image") - @language.Getkey("Global_Question_Delete") @language.Getkey("Global_Image")? </h4>
                    <hr />
                    @if (ViewBag.Message != null)
                    {
                        <div class="alert alert-success alert-dismissible" style="margin-top:20px">
                            @ViewBag.Message
                        </div>
                    }
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="hidden" autocomplete="off" name="id" value="@ViewBag.individuo" required />
                            <input type="hidden" autocomplete="off" name="tipo" value="@ViewBag.tipo" required />
                            <input type="submit" value="@language.Getkey("Global_Delete")" class="btn btn-warning" />
                           
                        </div>
                    }





                </div>


            </div>
        </div>
    </div>
</div>