@model UPlant.Models.DB.Individui
@inject LanguageService language
@{
    ViewData["Title"] = "Individui";
      var currentCulture = language.GetCurrentCulture();
}
@if (TempData["MsgErr"] != null)
{
    <div class="alert alert-danger">@TempData["MsgErr"]</div>
}
@if (TempData["MsgSucc"] != null)
{
    <div class="alert alert-success">@TempData["MsgSucc"]</div>
}
@if (TempData["MsgAle"] != null)
{
    <div class="alert alert-warning">@TempData["MsgAle"]</div>
}
<p>
    @{
        if (User.IsInRole("Administrator") || User.IsInRole("Operator") || User.IsInRole("TreeKeeper") || User.IsInRole("Discover") || User.IsInRole("Seminum") || User.IsInRole("Utility"))
        {
            @Html.ActionLink(@language.Getkey("Global_Edit"), "Edit", new { id = Model.id, tipo = ViewBag.tipo }, new { @class = "btn btn-primary" }) <span> </span>
        }

        if (ViewBag.tipo == "ricerca")
        {
            @Html.ActionLink(@language.Getkey("Global_Return_To_Parent_Accession"), "Details", "Accessioni", new { id = Model.accessione, tipo = "ricerca" }, new { @class = "btn btn-warning" }) <span> </span>
            <button type="button" id="ricerca" class="btn btn-info" onclick="window.location.href = '@Url.Action("RicercaIndividui", "Home", new {  tipo  = ViewBag.tipo })';">
                @language.Getkey("Global_Return_To_Search")
            </button>

        }
        else
        {

            @Html.ActionLink(@language.Getkey("Global_Return_To_Parent_Accession"), "Details", "Accessioni", new
            {
                id = Model.accessione,
                    tipo = ViewBag.tipo
            }, new
            {
                @class = "btn btn-info"
            });

        }

    }

</p>



<div class="col-xs-12">
        <div class="card card-outline card-primary">
            
            <div class="card-header with-border">
                <h3 class="card-title font-weight-bold">
                    <span class="text-primary">@language.Getkey("Global_Detail")  @language.Getkey("Global_Individual")</span> - @Html.DisplayFor(model => model.progressivo) 
                    @if (!String.IsNullOrEmpty(Model.vecchioprogressivo))
                    {

                        <span> - </span> <label asp-for="vecchioprogressivo" class="control-label">@language.Getkey("Global_Old_Progressive")</label>  @Html.DisplayFor(model => model.vecchioprogressivo)
                    }<span> - </span>@language.Getkey("Global_Species") @Html.Label("  :  ") @Html.DisplayFor(model => model.accessioneNavigation.specieNavigation.nome_scientifico)
                </h3>

            </div>
            

            @Html.AntiForgeryToken()
             <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">

                    @Html.Hidden("accessione", null, new { @id = "accessione" })
                    @Html.Hidden("progressivo", null, new { @id = "progressivo" })


                </div>
                @{
                    int rowNo = 0;
                }

            <table style="height: 30px; width: 100% " class=" table-striped table-bordered ">
                <tbody>
                    <tr style="height: 12px;">
                        <th style="width: 100%;font:xx-large" class="bg-lightblue" colspan="3">

                            @language.Getkey("Global_Main_Data")
                        </th>
                    </tr>

                    <tr>
                        <th style="width:33%;font:xx-large">
                            @language.Getkey("Global_Propagation_Data")
                        </th>
                        <th style="width:33%; font:xx-large">
                            @language.Getkey("Global_Propagation_Method")
                        </th>
                        <th style="width:33%;font:xx-large">
                            @language.Getkey("Global_Sex")
                        </th>
                    </tr>
                    <tr>
                        <td style="width:33%">
                            @Convert.ToDateTime(Model.propagatoData).ToString("dd/MM/yyyy")
                            
                        </td>
                        @if (currentCulture == "en-US"){
                         <td style="width: 239px; height: 23px;">@if (string.IsNullOrEmpty(Model.propagatoModalitaNavigation.descrizione_en)) { @Html.DisplayFor(model => model.propagatoModalitaNavigation.propagatoModalita)} else{ @Html.DisplayFor(model => model.propagatoModalitaNavigation.descrizione_en)}</td>   
                        <td style="width: 239px; height: 23px;">@if (string.IsNullOrEmpty(Model.sessoNavigation.descrizione_en)) { @Html.DisplayFor(model => model.sessoNavigation.descrizione)} else{ @Html.DisplayFor(model => model.sessoNavigation.descrizione_en)}</td>   
                        
                        }else {
                        <td style="width:33%">
                            @Html.DisplayFor(model => model.propagatoModalitaNavigation.propagatoModalita)
                        </td>
                        <td style="width:33%">
                            @Html.DisplayFor(model => model.sessoNavigation.descrizione)
                        </td>
                        }
                    </tr>
                    <tr>
                        <th style="width:33%">
                            @language.Getkey("Global_Scientific_Name")
                        </th>
                        <th style="width:33%">
                            &nbsp;
                        </th>
                        <th style="width:33%">
                            &nbsp;
                        </th>
                    </tr>
                    <tr>
                        <td style="width:33%">
                            @Html.DisplayFor(model => model.accessioneNavigation.specieNavigation.nome_scientifico)
                        </td>
                        <td style="width:33%">
                            &nbsp;
                        </td>
                        <td style="width:33%">
                            &nbsp;
                        </td>
                    </tr>
                    <tr style="height:12px;">
                        <th style="width:100%;font:xx-large" class="bg-lightblue" colspan="3">
                            @language.Getkey("Global_Location_Garden")
                        </th>
                    </tr>
                    <tr>
                    </tr>
                    <tr>
                        <th style="width: 33% ">
                            @language.Getkey("Global_Sector")
                        </th>
                        <th style="width: 33% ">
                            @language.Getkey("Global_Collection")
                        </th>
                        <th style="width: 33% ">
                            @language.Getkey("Global_Label")
                        </th>
                     
                    </tr>

                    <tr>
                        @if (currentCulture == "en-US")
                        {
                               <td style="width:33%"> @if(string.IsNullOrEmpty(Model.settoreNavigation.settore_en)) { @Html.DisplayFor(model => model.settoreNavigation.settore)} else{ @Html.DisplayFor(model => model.settoreNavigation.settore_en)}</td>
                            <td style="width:33%"> @if(string.IsNullOrEmpty(Model.collezioneNavigation.collezione_en)) { @Html.DisplayFor(model => model.collezioneNavigation.collezione)} else{ @Html.DisplayFor(model => model.collezioneNavigation.collezione_en)}</td>
                             <td style="width:33%"> @if(string.IsNullOrEmpty(Model.cartellinoNavigation.descrizione_en)) { @Html.DisplayFor(model => model.cartellinoNavigation.descrizione)} else{ @Html.DisplayFor(model => model.cartellinoNavigation.descrizione_en)}</td>
                            
                        }else{
                             <td style="width:33%">
                            @Html.DisplayFor(model => model.settoreNavigation.settore)
                        </td>
                        <td style="width:33%">
                            @Html.DisplayFor(model => model.collezioneNavigation.collezione)
                        </td>
                        <td style="width:33%">
                            @Html.DisplayFor(model => model.cartellinoNavigation.descrizione)
                        </td>
                    

                        }

                       
                    </tr>
                    <tr>
                        <th style="width: 33% ">
                            @language.Getkey("Global_Label_Type")
                        </th>
                        
                        <th style="width:33%">
                            @language.Getkey("Global_Longitude")
                        </th>
                        <th style="width:33%">
                            @language.Getkey("Global_Latitude")
                        </th>
                        
                    </tr>
                    <tr>
                         @if (currentCulture == "en-US")
                        {
                             <td style="width:33%"> @if(string.IsNullOrEmpty(Model.tipocartellinoNavigation.descrizione_en)) { @Html.DisplayFor(model => model.tipocartellinoNavigation.descrizione)} else{ @Html.DisplayFor(model => model.tipocartellinoNavigation.descrizione_en)}</td>                            
                        }
                        else{
                            <td style="width:33%">
                            @Html.DisplayFor(model => model.tipocartellinoNavigation.descrizione)
                        </td>
                        }
                        <td style="width:33%">
                            @Html.DisplayFor(model => model.longitudine)
                            @Html.HiddenFor(model => model.longitudine, new { @id = "longitudine", @name = "longitudine" })
                        </td>
                        <td style="width:33%">
                            @Html.DisplayFor(model => model.latitudine)
                            @Html.HiddenFor(model => model.latitudine, new { @id = "latitudine", @name = "latitudine" })
                        </td>
                       
                    </tr>
                    <tr><td colspan="3"><div id="myMap"></div></td></tr>
                    <tr style="height:12px;">
                        <th style="width: 100%;font:xx-large" class="bg-lightblue" colspan="3">
                            @language.Getkey("Global_Additional_Data")
                        </th>
                    </tr>

                    <tr>
                        <th style="width: 33% ">
                            IndexSeminum
                        </th>
                        <th style="width: 33% ">
                            @language.Getkey("Global_Destinations")
                        </th>
                        <th style="width: 33% ">
                            @language.Getkey("Global_Notes")
                        </th>
                    </tr>
                    <tr>
                        <td style="width: 33%">
                            @if (Model.indexSeminum == true)
                            {
                                <span> Si</span>
                            }
                            else
                            {
                                <span> No</span>
                            }


                        </td>
                        <td style="width: 33% ">
                            @Html.DisplayFor(model => model.destinazioni)
                        </td>
                        <td style="width: 33% ">
                            @Html.DisplayFor(model => model.note)
                        </td>
                    </tr>
                </tbody>
            </table>


            <div id="storico">
                <div class="card card-outline card-primary col-xs-12">
                    <div class="card-header with-border ml-2  col-xs-12" id="headingOne" >
                        <h3 class="card-title mb-0"><button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">@language.Getkey("Global_Individual_Record_History") </button></h3>
                        @{
                                    if (User.IsInRole("Administrator") || User.IsInRole("Operator") || User.IsInRole("TreeKeeper") || User.IsInRole("Discover") || User.IsInRole("Seminum") || User.IsInRole("Utility"))
                                    {
                                    <div class="float-right">
                                    <a asp-action="Create" asp-controller="StoricoIndividuo" asp-route-idindividuo="@ViewBag.idindividuo" asp-route-tipo="@ViewBag.tipo">
                                                <span class="btn btn btn-success" title="crea storico">
                                            @language.Getkey("Global_Add")
                                                </span>
                                            </a>
                                        </div>
                                        
                                        
                                        
                                           
                                        
                                        
                                        
                                    }
                                }
                            </div>

@if (Model.StoricoIndividuo.Count() > 0) {
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#storico">
                                <div class="card-body">
                                    <div class="table-responsive">

                                            <table id="table1" class="table table-bordered table-striped dataTable">
                                                <thead>
                                                   
                                                            <tr>
                                                                <th>
                                                    @language.Getkey("Global_Entry_Date")
                                                                </th>
                                                <th>
                                                    @language.Getkey("Global_User")
                                                </th>
                                                                <th>
                                                    @language.Getkey("Global_Individual_Status")
                                                                </th>
                                                                <th>
                                                    @language.Getkey("Global_Condition")
                                                                </th>
                                                                <th>
                                                    @language.Getkey("Global_Horticultural_Operations")
                                                                </th>


                                                                <th style="width:25%"></th>
                                                            </tr>
                                                   
                                                </thead>
                                                <tbody>

                                                    @foreach (var item in Model.StoricoIndividuo)
                                                    {
                                                        var storicoDaInterventoIds = ViewBag.storicoDaInterventoIds as System.Collections.Generic.HashSet<System.Guid>;
                                                        var storicoDaIntervento = storicoDaInterventoIds != null && storicoDaInterventoIds.Contains(item.id);

                                                        <tr>

                                                            <td>
                                                                @Convert.ToDateTime(item.dataInserimento).ToString("dd/MM/yyyy")
                                                            </td>
                                                    <td>
                                                            @Html.DisplayFor(modelItem => item.utenteNavigation.NomeCognome)
                                                    </td>
                                                      @if (currentCulture == "en-US"){
                         <td style="width: 239px; height: 23px;">@if (string.IsNullOrEmpty(item.statoIndividuoNavigation.descrizione_en)) { @Html.DisplayFor(modelItem => item.statoIndividuoNavigation.stato)} else{ @Html.DisplayFor(modelItem => item.statoIndividuoNavigation.descrizione_en)}</td>   
                                                        <td style="width: 239px; height: 23px;">@if (string.IsNullOrEmpty(item.condizioneNavigation.descrizione_en)) { @Html.DisplayFor(modelItem => item.condizioneNavigation.condizione)} else{ @Html.DisplayFor(modelItem => item.condizioneNavigation.descrizione_en)}</td>

                                                    }else
                                                    {
                                                          <td>
                                                                @Html.DisplayFor(modelItem => item.statoIndividuoNavigation.stato)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.condizioneNavigation.condizione)
                                                            </td>
                                                    }

                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.operazioniColturali)
                                                            </td>


                                                            <td>

                                                                @{
                                                                    if (User.IsInRole("Administrator") || User.IsInRole("Operator") || User.IsInRole("TreeKeeper") || User.IsInRole("Discover") || User.IsInRole("Seminum") || User.IsInRole("Utility"))
                                                                    {
                                                                        if (rowNo == 0)
                                                                        {
                                                                        <a asp-action="Edit" asp-controller="StoricoIndividuo" asp-route-id="@item.id" asp-route-individuo="@item.individuo" asp-route-tipo="@ViewBag.tipo">
                                                                        <span class="btn btn-warning btn-xs" title="@language.Getkey("Global_Edit") storico">
                                                                            <i class="fa-solid fa-pencil" style="color: #fafafa;"></i>
                                                                                </span>
                                                                            </a>
                                                                      


                                                                        }
                                                                    }
                                                                    if (Model.StoricoIndividuo.Count() > 1 && User.IsInRole("Administrator") && rowNo == 0)

                                                                    {


                                                                    <a asp-action="Delete" asp-controller="StoricoIndividuo" asp-route-id="@item.id" asp-route-individuo="@item.individuo" asp-route-tipo="@ViewBag.tipo">
                                                                                <span class="btn btn-danger btn-xs" title="@language.Getkey("Global_Delete") storico">
                                                                                    <i class="fa-solid fa-trash"></i>
                                                                                </span>
                                                                            </a>
                                                                      
                                                                        

                                                                    }

                                                                    if (storicoDaIntervento && User.IsInRole("Administrator") || User.IsInRole("TreeKeeper"))
                                                                    {
                                                                        <a asp-action="ElencoInterventi" asp-controller="InterventiAlberi" asp-route-id="@item.individuo">
                                                                            <span class="btn btn-info btn-xs" title="Vai agli interventi dell'individuo">
                                                                                <i class="fa-solid fa-tree"></i>
                                                                            </span>
                                                                        </a>
                                                                    }

                                                                }


                                                            </td>
                                                        </tr>
                                                        rowNo = rowNo + 1;
                                                    }
                                            </tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>
             
                } else {
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#storico">
                                <div>Niente Storico</div>
                            </div>

                }
                
                    <div id="documenti">
                        <div class="card card-outline card-primary col-xs-12">
                            <div class="card-header with-border ml-2 col-xs-12">
                                <h3 class="card-title mb-0"><button class="btn btn-link" data-toggle="collapse" data-target="#collapseDoc" aria-expanded="true" aria-controls="collapseDoc">@language.Getkey("Global_List") Documenti</button></h3>
                                @{
                                    if (User.IsInRole("Administrator") || User.IsInRole("Operator") || User.IsInRole("TreeKeeper") || User.IsInRole("Discover") || User.IsInRole("Seminum") || User.IsInRole("Utility"))
                                    {
                                        <div class="float-right">
                                            <button type="button" id="UploadDoc" class="btn btn-success">@language.Getkey("Global_Add")</button>
                                            <div class="modal fade" id="myModalDoc" role="dialog" data-url='@Url.Action("UploadDoc", "Individui", new { @id = ViewBag.idindividuo, tipo = ViewBag.tipo })'></div>
                                        </div>
                                    }
                                }
                            </div>
                            <div id="collapseDoc" class="collapse show" data-parent="#documenti">
                                <div class="card-body">
                                    @if (ViewBag.listDocs != null && ViewBag.listDocs.Count > 0)
                                    {
                                        <table class="table table-bordered table-striped dataTable">
                                            <thead>
                                            <tr>
                                                <th>Nome file</th>
                                                <th>Formato</th>
                                                <th>Dimensione</th>
                                                <th>@language.Getkey("Global_Description")</th>
                                                <th>@language.Getkey("Global_Entry_Date")</th>
                                                <th>Utente</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            @foreach (var doc in ViewBag.listDocs)
                                            {
                                                <tr>
                                                    <td>@doc.nomefile</td>
                                                    <td>@doc.estensione</td>
                                                    <td>@Math.Round(((double)doc.dimensioneBytes / 1024), 2) KB</td>
                                                    <td>@doc.descrizione</td>
                                                    <td>@doc.dataInserimento</td>
                                                    <td>@doc.utenteAcquisizioneNavigation?.NomeCognome</td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary btn-xs" onclick="window.location.href='@Url.Action("DownloadDoc", "Individui", new { id = doc.id, individuo = ViewBag.idindividuo })'"><i class="fa-solid fa-download"></i></button>
                                                        @if (User.IsInRole("Administrator") || User.IsInRole("Operator") || User.IsInRole("TreeKeeper") || User.IsInRole("Discover") || User.IsInRole("Seminum") || User.IsInRole("Utility"))
                                                        {
                                                            <button type="button" class="btn btn-danger btn-xs" onclick="CancellaDoc('@doc.id')"><i class="fa-solid fa-trash"></i></button>
                                                            <div class="modal fade" id="doc-@doc.id" role="dialog" data-url='@Url.Action("DeleteDoc", "Individui", new { id = doc.id, individuo = ViewBag.idindividuo, tipo = ViewBag.tipo })'></div>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                            </tbody>
                                        </table>
                                    }
                                    else
                                    {
                                        <div>@language.Getkey("Global_Empty")</div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="immagini">
                        <div class="card card-outline card-primary col-xs-12">
                            <div class="card-header with-border ml-2  col-xs-12" id="headingOne">
                                <h3 class="card-title mb-0"><button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">@language.Getkey("Global_List") @language.Getkey("Global_Images")</button></h3>
                                @{
                                    if (User.IsInRole("Administrator") || User.IsInRole("Operator") || User.IsInRole("TreeKeeper") || User.IsInRole("Discover") || User.IsInRole("Seminum") || User.IsInRole("Utility"))
                                    {
                                         <div class="float-right">
                                            <button type="button" id="UploadImg" class="btn btn-success">@language.Getkey("Global_Add")</button>
                                            <div class="modal fade" id="myModal" role="dialog" data-url='@Url.Action("UploadImg", "Individui", new { @id = ViewBag.idindividuo, tipo = ViewBag.tipo })'>
                                            </div>

                                        </div>
                                    }
                                }

                            </div>
            @{
               if (Model.ImmaginiIndividuo.Count > 0)
                  {

                    <div id="collapseTwo" class="collapse show" aria-labelledby="headingOne" data-parent="#immagini">
                    <div class="card-body">
                                            <div class="table-responsive1">

                                    
                                        
                                            <table id="table1" class="table table-bordered table-striped dataTable">
                                                <thead>
                                               
                                                            <tr>
                                                                <th>
                                                                @language.Getkey("Global_Default")
                                                                </th>
                                                                <th>
                                                                @language.Getkey("Global_Thumb")
                                                                </th>
                                                                <th>
                                                                @language.Getkey("Global_Name") @language.Getkey("Global_Image")
                                                                </th>
                                                                <th>
                                                                @language.Getkey("Global_Description")
                                                                </th>
                                                                <th>
                                                                @language.Getkey("Global_Credits")
                                                                </th>
                                                                <th>
                                                                @language.Getkey("Global_Entry_Date")
                                                                </th>
                                                                <th>
                                                                @language.Getkey("Global_Author")
                                                                </th>

                                                                <th style="width:25%"></th>
                                                            </tr>
                                                      
                                                </thead>
                                                <tbody>

                                                    @foreach (var item in Model.ImmaginiIndividuo)
                                                    {
                                                    // int rowNo2 = 0;
                                                        <tr>
                                                            <td style="vertical-align: middle; text-align: center;" width="30px">
                                                                @{
                                                                    if (User.IsInRole("Administrator") || User.IsInRole("Operator") || User.IsInRole("TreeKeeper") || User.IsInRole("Discover") || User.IsInRole("Seminum") || User.IsInRole("Utility"))
                                                                    {
                                                                        if (item.predefinita == true)
                                                                        {
                                                                  
                                                                            <button type="button" id="Sito" class="btn btn-warning btn-xs" onclick="window.location.href = '@Url.Action("Default", "Individui", new { individuo = item.individuo, img = item.id, tipo = ViewBag.tipo })';">
                                                                        <i class="fa-solid fa-chess-king"></i>
                                                                            </button>
                                                                        }
                                                                        else
                                                                        {
                                                                            <button type="button" id="Sito" class="btn btn-light btn-xs" onclick="window.location.href = '@Url.Action("Default", "Individui", new { individuo = item.individuo, img = item.id, tipo = ViewBag.tipo })';">
                                                                                    <i class="fa-solid fa-chess-king"></i>
                                                                            </button>
                                                                        }
                                                                    }
                                                                }
                                                            </td>
                                                            <td style=" vertical-align: middle;">
                                                                <div class="zoom">
                                                                    <img src="@Url.Action("ViewImg","Individui", new { individuo = item.individuo , img = item.id ,filename = item.nomefile })" height="40" />
                                                                </div>
                                                            </td>
                                                            <td style="vertical-align: middle;">
                                                                @Html.DisplayFor(modelItem => item.nomefile)
                                                            </td>
                                                            <td style=" vertical-align: middle;">
                                                                @Html.DisplayFor(modelItem => item.descrizione)
                                                            </td>
                                                            <td style=" vertical-align: middle;">
                                                                @Html.DisplayFor(modelItem => item.credits)
                                                            </td>
                                                            <td style="vertical-align: middle;">
                                                                @Convert.ToDateTime(item.dataInserimento).ToString("dd/MM/yyyy")
                                                            </td>
                                                            <td style="vertical-align: middle;">
                                                                @Html.DisplayFor(modelItem => item.autore)
                                                            </td>

                                                            <td style="text-align: center; vertical-align: middle;">

                                                                @{
                                                                    if (User.IsInRole("Administrator") || User.IsInRole("Operator") || User.IsInRole("TreeKeeper") || User.IsInRole("Discover") || User.IsInRole("Seminum") || User.IsInRole("Utility"))
                                                                    {
                                                                        var idimg = @Html.Raw(item.id);

                                                                        <div class="pull-left">
                                                                    <button type="button" id="FlipThumb" class="btn btn-warning btn-xs" onclick="window.location.href = '@Url.Action("FlipThumb","Individui", new {  individuo = item.individuo , img = item.id ,filename = item.nomefile , tipo  = ViewBag.tipo})';"><i class="fa-solid fa-rotate-right"></i>

                                                                </button>

                                                                            @{
                                                                                if (item.visibile == true)
                                                                                {
                                                                                    <button type="button" id="Sito" class="btn btn-info btn-xs" onclick="window.location.href = '@Url.Action("ShowHidden", "Individui", new { individuo = item.individuo, img = item.id , tipo  = ViewBag.tipo })';">
                                                                                        <i class="fa-solid fa-eye"></i>
                                                                                    </button>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <button type="button" id="Sito" class="btn btn-light btn-xs" onclick="window.location.href = '@Url.Action("ShowHidden", "Individui", new { individuo = item.individuo, img = item.id, tipo  = ViewBag.tipo })';">
                                                                                <i class="fa-solid fa-eye-slash"></i>
                                                                                    </button>
                                                                                }
                                                                            }







                                                                            <button type="button" id="DownloadImg" class="btn btn-primary btn-xs" value="@idimg" onclick="window.location.href = '@Url.Action("Download", "Individui", new {  individuo = item.individuo , img = item.id ,filename = item.nomefile })';"><i class="fa-solid fa-download"></i></button>
                                                                            <button type="button" id="DeleteImg" class="btn btn-danger btn-xs" value="@idimg" onclick="CancellaImg(this.value)"><i class="fa-solid fa-trash"></i></button>

                                                                            <div class="modal fade" id="@item.id" role="dialog" data-url='@Url.Action("DeleteImg", "Individui", new { @id = item.id, tipo = ViewBag.tipo })'>
                                                                            </div>

                                                                        </div>

                                                                    }

                                                                }


                                                            </td>
                                                        </tr>

                                                    }
</tbody>
                                            </table>
                                        
                                    </div>


                                </div>
                            </div>
                            }else{
                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#immagini">
                                        <div>@language.Getkey("Global_No") @language.Getkey("Global_Image")</div>
                                    </div>
                            }
                            }




                        </div>
                    </div>
               





            </div>


        </div>
    </div>

    </div>
</div>
<p>

            @{
                if (User.IsInRole("Administrator") || User.IsInRole("Operator") || User.IsInRole("TreeKeeper") || User.IsInRole("Discover") || User.IsInRole("Seminum") || User.IsInRole("Utility"))
                {
            @Html.ActionLink(@language.Getkey("Global_Edit"), "Edit", new { id = Model.id, tipo = ViewBag.tipo }, new { @class = "btn btn-primary" }) <span> </span>
                }

                if (ViewBag.tipo == "ricerca")
                {
                    @Html.ActionLink("Vai all'accessione padre", "Details", "Accessioni", new { id = Model.accessione, tipo = "ricerca" }, new { @class = "btn btn-warning" }) <span> </span>
                    <button type="button" id="ricerca" class="btn btn-info" onclick="window.location.href = '@Url.Action("RicercaIndividui", "Home", new {  tipo  = ViewBag.tipo })';">
                        @language.Getkey("Global_Return_To_Search")
                    </button>

                }
                else
                {

            @Html.ActionLink(@language.Getkey("Global_Return_To_Parent_Accession"), "Details", "Accessioni", new
                        {
                            id = Model.accessione,
                            tipo = ViewBag.tipo
                        }, new
                        {
                            @class = "btn btn-info"
                        })
                    ;

                }

            }


</p>

@section Styles {
 
}
@section CustomStyles {
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" crossorigin="" />
    <style>
        #myMap {
            height: 250px;
            width: 100%;
        }


        .zoom {
            padding: 0px;
            transition: transform .2s; /* Animation */
            width: 50px;
            height: 50px;
            margin: 0 auto;
        }

        .zoom:hover {
            transform: scale(6.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        }

        .map-priority-marker-wrapper {
            background: transparent;
            border: none;
        }

        .map-priority-pin {
            display: inline-block;
            width: 16px;
            height: 16px;
            border-radius: 50% 50% 50% 0;
            border: 2px solid #ffffff;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
            transform: rotate(-45deg);
        }
    </style>
}
@section Scripts {

  
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin=""></script>
 

   
   


}
@section CustomScripts {


    <script type="text/javascript">
        $(document).ready(function () {
            $('#UploadImg').click(function () {
                var url = $('#myModal').data('url');
                $.get(url, function (data) {
                    $("#myModal").html(data);
                    $("#myModal").modal({ backdrop: "static" });

                });


            });

        });
       
    </script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#UploadDoc').click(function () {
                var url = $('#myModalDoc').data('url');
                $.get(url, function (data) {
                    $("#myModalDoc").html(data);
                    $("#myModalDoc").modal({ backdrop: "static" });
                });
            });
        });

        function CancellaDoc(x) {
            var id = 'doc-' + x;
            var url = $('#' + id).data('url');
            $.get(url, function (data) {
                $('#' + id).html(data);
                $('#' + id).modal({ backdrop: "static" });
            });
        }
    </script>

    <script type="text/javascript">
        function CancellaImg(x) {

            var url = $('#' + x).data('url');
            $.get(url, function (data) {
                $('#' + x).html(data);
                $('#' + x).modal({ backdrop: "static" });




            });
        }
    </script>

    <script type="text/javascript">

        var _validFileExtensions = [".jpg", ".jpeg", ".png", ".heif", ".hevc", ".heic"];
        var _maxFileSizeBytes = '@ViewBag.maxupload';
        var messerr1 = '@language.Getkey("Message_20")';
        var messerr2 = '@language.Getkey("Message_21")';
        var messsize1 = '@language.Getkey("Message_22")';
        var messsize2 = '@language.Getkey("Message_23")';


        function validateForm(oForm) {

            var arrInputs = oForm.getElementsByTagName("input");
            for (var i = 0; i < arrInputs.length; i++) {
                var oInput = arrInputs[i];
                if (oInput.type == "file") {
                    var sFileName = oInput.value;
                    if (sFileName.length > 0) {
                        var blnValid = false;
                        for (var j = 0; j < _validFileExtensions.length; j++) {
                            var sCurExtension = _validFileExtensions[j];
                            var estensionefile = sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length);
                            if (estensionefile.toLowerCase() == sCurExtension.toLowerCase()) {
                                blnValid = true;
                                break;
                            }
                        }

                        if (!blnValid) {
                          var messerr = messerr1 + estensionefile + messerr2 + _validFileExtensions.join(", ");
                            
                         // var messerr = "Mi dispiace ma, il formato " + estensionefile + " non è valido , le estensioni consentite sono le seguenti : " + _validFileExtensions.join(", ");
                            //alert(messerr);
                            document.getElementById("errore").innerHTML = messerr;
                            document.getElementById("errore").style.display = "block";

                            return false;
                        }

                        if (oInput.files && oInput.files.length > 0) {
                            var f = oInput.files[0];
                            if (f.size > _maxFileSizeBytes) {
                                var messsize = messsize1 + Math.round(f.size / 1024) + messsize2 + Math.round(_maxFileSizeBytes / 1024) + " KB.";
                                document.getElementById("errore").innerHTML = messsize;
                                document.getElementById("errore").style.display = "block";
                                return false;
                            }
                        } else {
                            // Se non è disponibile l'oggetto File (vecchi browser), puoi decidere di ignorare o mostrare avviso diverso
                        }


                    }
                }
            }

            return true;
        }


    </script>



    <script type="text/javascript">
        var _validDocExtensions = @Html.Raw(System.Text.Json.JsonSerializer.Serialize((string[])ViewBag.allowedDocExtensions));
        var _maxDocFileSizeBytes = @ViewBag.maxuploadDoc;

        function validateDocForm(oForm) {
            var input = oForm.querySelector('input[type="file"]');
            if (!input || !input.files || input.files.length === 0) return false;

            for (var i = 0; i < input.files.length; i++) {
                var file = input.files[i];
                var fileName = (file.name || "").toLowerCase();
                var ok = _validDocExtensions.some(function (e) { return fileName.endsWith(e); });
                if (!ok) {
                    document.getElementById("erroredoc").innerHTML = "Formato documento non valido: " + _validDocExtensions.join(", ");
                    document.getElementById("erroredoc").style.display = "block";
                    return false;
                }

                if (file.size > _maxDocFileSizeBytes) {
                    document.getElementById("erroredoc").innerHTML = "Dimensione file non valida. Max: " + Math.round(_maxDocFileSizeBytes / 1024) + " KB";
                    document.getElementById("erroredoc").style.display = "block";
                    return false;
                }
            }

            document.getElementById("erroredoc").style.display = "none";
            return true;
        }
    </script>

    <script type="text/javascript">
        const defaultLat = 43.71944963861506;
        const defaultLng = 10.396344067111961;
        const latInput = $('#latitudine').val();
        const lngInput = $('#longitudine').val();
        const startLat = latInput ? parseFloat(latInput) : defaultLat;
        const startLng = lngInput ? parseFloat(lngInput) : defaultLng;

        function addFullscreenMapControl(map) {
            var FullscreenControl = L.Control.extend({
                options: { position: 'topright' },
                onAdd: function () {
                    var container = L.DomUtil.create('div', 'leaflet-bar');
                    var button = L.DomUtil.create('a', '', container);
                    button.href = '#';
                    button.title = 'Schermo intero';
                    button.setAttribute('role', 'button');
                    button.innerHTML = '&#x26F6;';
                    button.style.fontSize = '18px';
                    button.style.lineHeight = '28px';
                    button.style.textAlign = 'center';

                    L.DomEvent.on(button, 'click', function (e) {
                        L.DomEvent.stop(e);
                        var mapElement = map.getContainer();
                        if (!document.fullscreenElement) {
                            mapElement.requestFullscreen();
                        } else {
                            document.exitFullscreen();
                        }
                    });

                    return container;
                }
            });

            map.addControl(new FullscreenControl());
            if (!map._fullscreenChangeBound) {
                document.addEventListener('fullscreenchange', function () { map.invalidateSize(); });
                map._fullscreenChangeBound = true;
            }
        }

        const map = L.map('myMap', { scrollWheelZoom: false }).setView([startLat, startLng], 16);
        map.attributionControl.setPrefix(false);
        map.attributionControl.setPosition('bottomleft');
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 20,
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);

        addFullscreenMapControl(map);

        function buildColoredMarkerIcon(color) {
            return L.divIcon({
                className: 'map-priority-marker-wrapper',
                html: '<span class="map-priority-pin" style="background-color:' + color + ';"></span>',
                iconSize: [20, 20],
                iconAnchor: [10, 20]
            });
        }

        const settoreColor = '@(Model.settoreNavigation?.colore ?? "#6c757d")';
        L.marker([startLat, startLng], { icon: buildColoredMarkerIcon(settoreColor) }).addTo(map);
    </script>
    <script type="text/javascript">
        $(function () {
            $('.go_back').click(function (e) {
                e.preventDefault();
                history.go(-1);
            });
        });
    </script>



}
