@model UPlant.Models.DB.Individui
@inject LanguageService language
@{
    ViewBag.Title = @language.Getkey("Individui_Validazione_0");
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title text-red">@language.Getkey("Individui_Validazione_1")?</h3>
                <form role="form">
                    <div class="box-body">

                        <label>
                            @language.Getkey("Global_Progressive")
                        </label>
                        <div>
                            @Html.DisplayFor(model => model.progressivo)
                        </div>
                        <label>
                            @Html.DisplayNameFor(model => model.propagatoData)
                        </label>
                        <div>
                            @Html.DisplayFor(model => model.propagatoData)
                        </div>


                    </div>
                </form>
            </div>
        </div>
    </div>
</div>









@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Valida" class="btn btn-success" /> |
        @Html.ActionLink(@language.Getkey("Global_Go_Back"), "../Accessioni/Details", new { id = Model.accessione })
    </div>
}