@model UPlant.Models.DB.Organizzazioni
@inject LanguageService language
@{
    ViewData["Title"] = "Create";
}

<div class="card card-outline card-primary">
    <div class="card-header with-border">
        <h3 class="card-title">@language.Getkey("Global_Add") @language.Getkey("Global_Organization")</h3>
    </div>
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="descrizione" class="control-label">@language.Getkey("Global_Description")</label>
                <input asp-for="descrizione" class="form-control" />
                <span asp-validation-for="descrizione" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="prefissoIpen" class="control-label">Prefisso IPEN</label>
                <input asp-for="prefissoIpen" class="form-control" />
                <span asp-validation-for="prefissoIpen" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="attivo" /> @Html.DisplayNameFor(model => model.attivo)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Crea" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink(@language.Getkey("Global_Go_Back"), null, null, null, new { @class = "btn btn-info go_back" })
</div>


@section Styles {
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/accessioni.min.css" rel="stylesheet" />

}



@section Scripts {
    @{
        <script src="~/js/select2.min.js"></script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


}
@section CustomScripts {
    <script type="text/javascript">
        $(function () {
            $('.go_back').click(function (e) {
                e.preventDefault();
                history.go(-1);
            });
        });
    </script>
}