@model UPlant.Models.DB.Organizzazioni
@inject LanguageService language
@{
    ViewData["Title"] = "Delete";
}
<div class="card card-outline card-primary">
    <div class="card-header with-border">
        <h3 class="card-title">Cancella Organizzazione - Sei sicuro di voler cancellare questa Organizzazione?</h3>
    </div>
    <div class="card-body">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descrizione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descrizione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.attivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.attivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prefissoIpen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prefissoIpen)
        </dd>
        </dl><p>
            <form asp-action="Delete">
                <input type="hidden" asp-for="id" />
                <input type="submit" value="Cancella" class="btn btn-danger" />
            </form>
        </p>
    </div>


</div>
<div>
    <a asp-action="Index" class="btn btn-info">@language.Getkey("Global_Go_Back")</a>

</div>