@model UPlant.Models.DB.Users
@inject LanguageService language
@{
    ViewData["Title"] = "Details";
}

<div class="card card-outline card-primary">
    <div class="card-header with-border">
        <h3 class="card-title">@language.Getkey("Global_Detail")  @language.Getkey("Global_User")</h3>
    </div>


    <div class="col-md-12">
    
    <dl class="row">
        <dt class = "col-sm-2">
            Nome
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Cognome
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
          Account 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnipiUserName)
        </dd>
        <dt class = "col-sm-2">
            Codice Fiscale
        </dt>
        <dd class = "col-sm-10">
                @{
                    if ((Model.CF) == null || (Model.CF) == "")
                    {
                        <span>Campo Vuoto</span>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.CF)
                    }
                }
        </dd>
        <dt class = "col-sm-2">
            Abilitato
        </dt>
        <dd class = "col-sm-10">
                @{
                    if (Model.IsEnabled)
                    {
                        <span>SI </span>
                    }
                    else
                    {
                        <span>NO </span>
                    }
                }
            </dd>
        <dt class = "col-sm-2">
            Creato il
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            Creato da
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizzazioneNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrganizzazioneNavigation.descrizione)
        </dd>
    </dl>
</div>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success">Edit</a> 
    <a asp-action="Index" class="btn btn-secondary">@language.Getkey("Global_Go_Back")</a>
</div>
